/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

 .paddingNews{
     padding-left: 60px;
     padding-right: 60px;
     padding-top: 120px;
 }

 .paddingBottom60{
     padding-bottom: 60px;
 }

 .marginLeftNews{
     margin-left: 16.6% !important;
 }

 .paddingTop0{
     padding-top: 0px !important;
 }

 .imageProjectRecommended{
     object-fit: cover;
     min-width: 260px;
     max-height: 160px;
 }

 .imageNewsSlide{
    object-fit: cover;
    min-width: 360px !important;
    min-height: 240px !important;
    max-height: 240px !important;
 }

 .logo_img{
     margin-top: -5px !important;
     width: 120px !important
 }

 .paddingBoxHome{
     padding: 60px;
     background-color: #fafafa !important;
 }

 .padding0{
     padding: 0px !important;
 }

 .background-slide-1{
    background-color: #283a52 !important;
}

.btn-default {
    background-color: #ff6700 !important;
    border-color: #ff6700 !important;
}

a:hover {
    color: #ff6700 !important;
}

a {
    color: #78787a !important;
}

.header-dropdown-buttons .btn-group>.btn:hover {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
}

.header-dropdown-buttons .btn-group>.btn {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
}

.default-bg {
    background-color: #ff6700;
    color: #ffffff;
}

header:not(.dark) .mega-menu .menu>li>a:hover i,
header:not(.dark) .dropdown-menu>li>a:hover i,
header:not(.dark) .mega-menu .menu>li.active>a i,
header:not(.dark) .dropdown-menu>li.active>a i {
    color: #ff6700;
}

.paddingRight0 {
    padding-right: 0px;
}

.paddingLeft0 {
    padding-left: 0px;
}

#qr-footer {
    width: 130px !important;
}

.borderRight {
    border-right: 2px solid #f2f2f2;
}

.borderLeft {
    border-left: 2px solid #f2f2f2;
}

.paddingBottom20 {
    padding-bottom: 20px !important;
}

.text-default {
    color: #ff6700 !important;
}

.icon.default-bg {
    background-color: #ff6700 !important;
}

.imageProjectHome {
    width: 285px !important;
    height: 190px !important;
    object-fit: cover !important;
}

.social-links:not(.animated-effect-1) li.skype a:hover,
.colored.social-links li.skype a,
.social-links.animated-effect-1 li.skype a::after,
.btn.skype {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.linkedin a:hover,
.colored.social-links li.linkedin a,
.social-links.animated-effect-1 li.linkedin a::after,
.btn.linkedin {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.googleplus a:hover,
.colored.social-links li.googleplus a,
.social-links.animated-effect-1 li.googleplus a::after,
.btn.googleplus {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.youtube a:hover,
.colored.social-links li.youtube a,
.social-links.animated-effect-1 li.youtube a::after,
.btn.youtube {
    background-color: #b31217 !important;
    border-color: #b31217 !important;
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.flickr a:hover,
.colored.social-links li.flickr a,
.social-links.animated-effect-1 li.flickr a::after,
.btn.flickr {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.facebook a:hover,
.colored.social-links li.facebook a,
.social-links.animated-effect-1 li.facebook a::after,
.btn.facebook {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.pinterest a:hover,
.colored.social-links li.pinterest a,
.social-links.animated-effect-1 li.pinterest a::after,
.btn.pinterest {
    color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.twitter a:hover,
.colored.social-links li.twitter a,
.social-links.animated-effect-1 li.twitter a::after,
.btn.twitter {
    background-color: #55acee !important;
    border-color: #55acee !important;
    color: #ffffff !important;
}

.hoverButtonProject:hover {
    border: 1px solid #d8d8d8 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3c3c3c !important;
}

.activeProjectFilter {
    border: 1px solid #d8d8d8 !important;
    color: #ff6700 !important;
}

.fontWeight400 {
    font-weight: 300 !important;
}

.spanSignUp {
    font-size: 18px;
    vertical-align: middle !important;
}

.iconSpanHome {
    font-size: 34px;
    vertical-align: middle;
}

.verticalAlignMiddel {
    vertical-align: middle !important;
}

.textWhite {
    color: white !important;
}

.paddingLR10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#language {
    position: absolute;
    transform: translate3d(-100px, 29px, 0px) !important;
    top: 0px;
    left: 0px;
    will-change: transform;
    min-width: 160px !important;
}

.languageActive {
    font-weight: 300;
    color: #78787a;
}

.languageActive:hover {
    cursor: pointer;
    color: #ff6700 !important;
}

.colorInherit {
    color: inherit !important;
}

.fixed.header .main-navigation.animated .navbar-nav > li > a {
	font-size: 14px !important;
}

.orClass{
    font-size: 12px;
    line-height: 1.4666666667;
    border-radius: 3px;
    color: #78787a;
}

.listStyleNone{
    list-style: none;
}

.fontSize12{
    font-size: 12px;
}

.colorTextCustom{
    color: #78787a;
}

.marginTop0{
    margin-top: 0 !important;
}

.marginRight13{
    margin-right: 13px;
}

.marginBottom5{
    margin-bottom: 5px !important;
}

.paddingBottom0{
    padding-bottom: 0 !important;
}

ul[rn-carousel] {
    width:400px;
    height:200px;
    margin: 0 auto;
}

.rn-carousel-controls {
    margin-top: 100px;
}


ul[rn-carousel] li{
    width:33%;
    height: 160px !important;
    padding-left: 20px;
}

.rn-carousel-control-next{
    margin-top: 55px;
    margin-right: -40px;
    color: #ff6700 !important;
}

.rn-carousel-control-prev{
    margin-top: 55px;
    margin-left: -40px;
    color: #ff6700 !important;
}

.backgroundWhite{
    background-color: white !important;
}

#sectionPartners.dark-translucent-bg{
    position: initial !important;
}

#sectionPartners.dark-translucent-bg, #sectionPartners.dark-translucent-bg h1, #sectionPartners.dark-translucent-bg h3, #sectionPartners.dark-translucent-bg h4, #sectionPartners.dark-translucent-bg h5, #sectionPartners.dark-translucent-bg h6{
    color: #777777 !important;
}

#sectionPartners.dark-translucent-bg h2{
    color: #777777 !important;
}

.paddingTop60{
    padding-top: 60px !important;
}

.backgroundColorBlue{
    background-color: #22447a !important;
    border-color: #22447a !important;
    color: white !important;
}

.backgroundColorBlue:hover{
    background-color: #283a52 !important;
    border-color: #283a52 !important;
    color: white !important;
}

.colorPrimary {
    color: #ff6700 !important;
}

ul.pagination .page-item .page-link, .pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link, ul.pager .page-item .page-link {
	text-align: center;
	padding: 0;
	height: 40px;
	width: 40px;
	border: 1px solid #283a52;
	line-height: 39px;
	background-color: #283a52;
	color: #ffffff;
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

ul.pagination .page-item .page-link:hover, ul.pagination .page-item .page-link {
	background-color: #283a52;
    border-color: #283a52;
    color: white !important;
}

ul.pagination .page-item .page-link:hover, ul.pagination .page-item .page-link:focus {
	background-color: #22447a;
    border-color: #22447a;
    color: white !important;
}

ul.pagination .page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus {
	background-color: #22447a;
	border-color: #22447a;
}

.padding--15{
    padding-left: -15px !important;
    padding-right: -15px !important;
}

.nav-tabs.style-4 > li > a.active, .nav-tabs.style-4 > li > a.active:hover, .nav-tabs.style-4 > li > a.active:focus {
	color: #ffffff !important;
	cursor: default;
	background-color: #283a52 !important;
	border-color: #283a52 !important;
	border-bottom-color: transparent;
}

.nav-tabs.style-4 > li > a:hover {
	color: #ffffff !important;
	background-color: #22447a !important;
	border-color: #22447a !important;
	border-bottom-color: #22447a !important;
}