/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

 .paddingNews{
     padding-left: 60px;
     padding-right: 60px;
     padding-top: 100px;
 }

 .paddingBottom60{
     padding-bottom: 60px;
 }

 .marginLeftNews{
     margin-left: 16.6% !important;
 }

 .paddingTop0{
     padding-top: 0px !important;
 }

 .imageProjectRecommended{
     object-fit: cover;
     min-width: 260px;
     max-height: 160px;
 }

 .logo_img{
     margin-top: -5px !important;
     width: 120px !important
 }

 .backgroundWhite{
     background-color: white !important;
 }

 .paddingBoxHome{
     padding: 60px;
 }

 .padding0{
     padding: 0px !important;
 }

 .background-slide-1{
    background: url("../images/homeBlue.png") 50% 0px no-repeat;
 }

 .btn-default{
    background-color: #ff6801 !important;
    border-color: #ff6801 !important;
 }

 a:hover {
    color: #ff6801 !important;
}

a {
    color: #9B9DA1 !important;
}

.header-dropdown-buttons .btn-group > .btn:hover {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
}

.header-dropdown-buttons .btn-group > .btn {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
}

.default-bg {
    background-color: #ff6801;
    color: #ffffff;
}

header:not(.dark) .mega-menu .menu > li > a:hover i, header:not(.dark) .dropdown-menu > li > a:hover i, header:not(.dark) .mega-menu .menu > li.active > a i, header:not(.dark) .dropdown-menu > li.active > a i {
	color: #ff6801;
}

.paddingRight0{
    padding-right: 0px;
}

.paddingLeft0{
    padding-left: 0px;
}

#qr-footer{
    width: 130px !important;
}

.borderRight{
    border-right: 2px solid #f2f2f2;
}

.borderLeft{
    border-left: 2px solid #f2f2f2;
}

.paddingBottom20{
    padding-bottom: 20px !important;
}

.text-default{
    color: #ff6801 !important;
}

.icon.default-bg{
    background-color: #ff6801 !important;
}

.imageProjectHome{
    width: 285px !important;
    height: 190px !important;
    object-fit: cover !important;
}

.social-links:not(.animated-effect-1) li.skype a:hover, .colored.social-links li.skype a, .social-links.animated-effect-1 li.skype a::after, .btn.skype {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.linkedin a:hover, .colored.social-links li.linkedin a, .social-links.animated-effect-1 li.linkedin a::after, .btn.linkedin {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.googleplus a:hover, .colored.social-links li.googleplus a, .social-links.animated-effect-1 li.googleplus a::after, .btn.googleplus {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.youtube a:hover, .colored.social-links li.youtube a, .social-links.animated-effect-1 li.youtube a::after, .btn.youtube {
	background-color: #b31217 !important;
	border-color: #b31217 !important;
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.flickr a:hover, .colored.social-links li.flickr a, .social-links.animated-effect-1 li.flickr a::after, .btn.flickr {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.facebook a:hover, .colored.social-links li.facebook a, .social-links.animated-effect-1 li.facebook a::after, .btn.facebook {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.pinterest a:hover, .colored.social-links li.pinterest a, .social-links.animated-effect-1 li.pinterest a::after, .btn.pinterest {
	color: #ffffff !important;
}

.social-links:not(.animated-effect-1) li.twitter a:hover, .colored.social-links li.twitter a, .social-links.animated-effect-1 li.twitter a::after, .btn.twitter {
	background-color: #55acee !important;
	border-color: #55acee !important;
	color: #ffffff !important;
}