<!-- main-container start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row">
            <div class="main col-lg-8 padding0">
                <h3 class="page-title">{{'CORETEAM' | translate }}</h3>
                <div class="separator-2"></div>
                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/1.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">李传宏
                                    <small>胡巴集团创始人，董事长</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>武汉大学法学硕士，精通不良资产方面的法律，具有20年的不良资产处置和管理经验，曾在广东、河南、四川、山东、浙江等地区主管不良资产的清收，主管不良资产包账面额达300亿人民币。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/2.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">赵昕
                                    <small>胡巴集团事务合伙人</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>曾创立泽盛律师事务所、房地产开发和营销策划、投资基金等多家企业，在金融诉讼和房地产领域辛勤耕耘近二十年，代表银行处理经济纠纷案件数百件，积累了丰富的不良资产处置经验和优质的金融机构人脉关系。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/3.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">林庄
                                    <small>胡巴集团事务合伙人</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>天使投资人，在传统企业、文化传媒等领域有丰富的投资经验，曾成功运作多个房地产项目。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/4.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">杨林榆
                                    <small>胡巴集团事务合伙人</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>在不良债权及不动产投资领域拥有长达25年的经验。他带领团队参与众多不良资产、特殊机会投资项目的尽职调查、投资决策、投后管理以及项目退出。投资项目遍及广东、江苏、浙江等八个省份。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/5.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">杜筱丹
                                    <small>胡巴集团事务合伙人，乐道胡巴总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>从2000年起，一直从事银行、信托的不良资产处置和大型国企、上市公司的并购工作，与四大资产管理公司及地方AMC均有良好的合作关系。先后管理和处置的不良资产本金近300亿。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/6.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">余会林
                                    <small>胡巴集团事务合伙人，河南事业部总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>曾任河南中赢旗晟律师事务所律所、合伙人。胡巴资产处置负责人。十多年律师专职工作，累计处理和参与百余起诉讼纠纷案件，具有丰富的办案经验。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/7.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">刘杰
                                    <small>胡巴集团事务合伙人，擎天柱事业部总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>华南理工大学法学毕业，近十年的不良资产处置和管理经验，带领团队完成对河南、山东、浙江、上海等地的业务拓展，累计管理不良资产账面金额50亿元。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/8.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">詹柳莺
                                    <small>胡巴集团事务合伙人，创新事业部总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>曾在国企及大型民营集团公司从事法务主管工作，任职杭州胡巴资产管理有限公司总裁助理期间，全面组织及参与尽调的债务人近500户，债权资产本金超过100亿，参与多个资产包交易结构设计及收购谈判等工作，参与资产包的处置管理和退出工作。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/9.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">王静
                                    <small>胡巴集团事务合伙人，浙江大区事业部总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>浙江大学法学专业，具备深厚的法律背景和丰富的办案经验。2014年以来投入不良资产行业。累计管理债权规模达几十亿元，不良资产包年处置回现账面值数亿元，帮助投资人实现超额回报。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/10.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">冯凯
                                    <small>胡巴集团事务合伙人，宝融胡巴总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>十余年商业运作管理经验，曾创办多家企业涉及TMT、金融等领域，擅长挖掘潜在的投资项目、投资项目分析及投后管理工作；对不良资产整个产业链充分理解，对不良资产重组业务有独到见解，曾主导及参与多项东北地区不良资产收购处置业务。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/11.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">吴刚
                                    <small>湖南长沙锐达胡巴总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>早年任职于建行信贷部门及资产保全部门，从事信贷工作以及资产保全工作，后为海岸投资资深服务商，从事不良资产行业超过15年，曾经创下资产包处置收益率638%的记录。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/12.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">王成宝
                                    <small>杭州胡巴资产管理有限公司 副总经理、合肥胡巴总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>任职温州市多个民营企业总经理，精通不良资产操作环节及法律法规，优秀的融资和处置变现能力，快速判断资产的可操作性并完成项目的快速融资，善于开拓国内新市场，拥有广泛的人脉优势，四大AMC、商会、知名律所、拍卖行、资管公司等，管理、清收资产累计约25亿元。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/13.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">潘秀伟     
                                    <small>无锡乐道胡巴  副总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>对收购包有独特眼光和分析，擅长对风控的判断，对存在的风险及评估有充分的经验，对项目处置的方法有准确的决断和指导方向，卓越的资金调动能力。广泛的人脉资源，浙江四大AMC、地方性AMC、民营资管等；管理资产包金融达30亿左右，累计管理不良资产账面金额20亿。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-box team-member style-3-b marginTop20">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="overlay-container overlay-visible">
                                <img class="img-rounded" src="images/team/14.jpg" alt="">
                                <!-- <a href="" class="popup-img overlay-link" title="Jane Doe - CEO">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="body marginTop10">
                                <h3 class="title margin-clear">魏强     
                                    <small>胡巴资产市场部总经理</small>
                                </h3>
                                <div class="separator-2 mt-10"></div>
                                <p>2010年就职于阿里巴巴集团，任国际事业部资深经理、“天猫”消费者体验与发展事业部专家、浙江大学EMBA总裁班特聘老师、中国人民大学EMBA总裁班讲师、商务部培训中心讲师、中国第一届诚信大会主讲嘉宾、企业品牌营销专家、擅长SNS运营。</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4 class="title">{{"RECOMMENDEDPROJECT" | translate}}</h4>
                        <div class="separator-2"></div>
                        <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id" style="margin-bottom: 10px !important">
                            <div class="d-flex pr-2">
                                <div class="overlay-container">
                                    <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                                    <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="" ng-click="goToProject(p.id)">{{p.title}}</a>
                                </h6>
                                <p class="price colorPrimary marginBottom0">¥{{p.amount}}万</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>