<!-- main-container start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row">
            <div class="main col-lg-8 padding0">
                <h3 class="page-title">{{'STRUCTURE' | translate }}</h3>
                <div class="separator-2"></div>
                <img class="structureImage" src="images/organizationStructure.png">
                <img class="structureImage" src="images/structure1.jpg">
                <img class="structureImage" src="images/map.png">
                <p class="marginTop10">目前，胡巴集团形成以杭州总部为核心，业务范围覆盖浙江、江苏、上海、安徽、山东、河南、湖南、广东、四川、黑龙江等沿海及发达内陆城市，并将加速拓展其他区域特殊资产的处置业务。</p>
            </div>
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4 class="title">{{"RECOMMENDEDPROJECT" | translate}}</h4>
                        <div class="separator-2"></div>
                        <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id" style="margin-bottom: 10px !important">
                            <div class="d-flex pr-2">
                                <div class="overlay-container">
                                    <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                                    <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="" ng-click="goToProject(p.id)">{{p.title}}</a>
                                </h6>
                                <p class="price colorPrimary marginBottom0">¥{{p.amount}}万</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>