<!-- <div class="breadcrumb-container marginTop38">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a href="index.html">{{'HOME' | translate}}</a>
            </li>
            <li class="breadcrumb-item cursorDefault active">{{'FCASES' | translate }}</li>
        </ol>
    </div>
</div> -->
<div>
    <img class="imageBanner" src="images/hoopaDark.jpg" />
    <div class="textBanner">
        <p class="textWhite">{{'FCASES' | translate }}</p>
    </div>
    <div class="lineBlueBanner"></div>
</div>
<section class="main-container paddingBoxHome heigthOfficial">
    <div class="container">
        <div class="row">
            <div class="main padding10">
                <!-- <h3 class="page-title text-center marginBottom20">{{'FCASES' | translate }}</h3>
                <div class="separator-2"></div> -->
                <div class="marginTop20">
                    <div class="row paddingBottom60">
                        <div class="col-lg-3 col-md-6">
                            <div class="image-box image-box--shadowed white-bg style-2 mb-4 minHeightCases">
                                <div class="overlay-container">
                                    <img src="images/hoopa.jpg" alt="">
                                    <a data-toggle="modal" data-target="#myModal" href="" class="overlay-link"></a>
                                </div>
                                <div class="body text-center">
                                    <a data-toggle="modal" data-target="#myModal" class="font-weight-bold my-2 languageActive">司法执行类</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-box image-box--shadowed white-bg style-2 mb-4 minHeightCases">
                                <div class="overlay-container">
                                    <img src="images/hoopa.jpg" alt="">
                                    <a data-toggle="modal" data-target="#myModal2" href="" class="overlay-link"></a>
                                </div>
                                <div class="body text-center">
                                    <a data-toggle="modal" data-target="#myModal2" class="font-weight-bold my-2 languageActive">高端住宅资产处置案例</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-box image-box--shadowed white-bg style-2 mb-4 minHeightCases">
                                <div class="overlay-container">
                                    <img src="images/hoopa.jpg" alt="">
                                    <a data-toggle="modal" data-target="#myModal3" href="" class="overlay-link"></a>
                                </div>
                                <div class="body text-center">
                                    <a data-toggle="modal" data-target="#myModal3" class="font-weight-bold my-2 languageActive">南京XX船务有限公司和南京XX贸易有限公司处置案例</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-box image-box--shadowed white-bg style-2 mb-4 minHeightCases">
                                <div class="overlay-container">
                                    <img src="images/hoopa.jpg" alt="">
                                    <a data-toggle="modal" data-target="#myModal4" href="" class="overlay-link"></a>
                                </div>
                                <div class="body text-center">
                                    <a data-toggle="modal" data-target="#myModal4" class="font-weight-bold my-2 languageActive">舟山XX置业有限公司债权案例</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>