<!-- main-container start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row">
            <div class="main col-lg-8 padding0">
                <h3 class="page-title">{{'FCASES' | translate }}</h3>
                <div class="separator-2"></div>
                <div class="marginTop20">
                    <h4>司法执行类</h4>
                    <ol type=”1” start=”10”>
                        <li>
                            <p class="fontWeightBold">案情简介</p>
                            <p>A集团向某行借款X亿元，并以其持有的流通股做质押担保。后来A集团到期不能偿还借款形成不良。处置团队受托负责该项目，经前期尽职调查，依据公证文书向省高院申请强制执行。</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">案件焦点</p>
                            <ul>
                                <li>
                                    <p>主张股权变价优先受偿，A集团表示同意。</p>
                                </li>
                                <li>
                                    <p>此时A集团所持有的流通股大股东为了独享公司控制权，严重干扰，阻碍法院执行。</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置思路</p>
                            <p>对阻碍执行问题，我方迅速做出反应，为扭转局面、排除地方保护，依法申请省高院将案件报送最高院请示，在得到最高院批复支持后，采取媒体监督加大执行力度。</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置结果</p>
                            <p>省高院顺利执结本案，完成处置。</p>
                        </li>
                    </ol>
                </div>

                <div class="marginTop20">
                    <h4>高端住宅资产处置案例</h4>
                    <ol type=”1” start=”10”>
                        <li>
                            <p class="fontWeightBold">案情简介</p>
                            <p>抵押物为钱江新城某处高端房产，整案处于执行中该户债权执行主体为长城资产管理公司杭州办事处，目前仍以长城的名义推进司法程序，管辖法院为绍兴柯桥区人民法院</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">案件焦点</p>
                            <ul>
                                <li>
                                    <p>是否变更执行主体。与长城沟通以评估价95折的保留价挂拍，出具了协助函、一拍申请书，长城以干预司法的嫌疑，未同意。</p>
                                </li>
                                <li>
                                    <p>回现时间的把握。回现时间定为2016年6月底，挂拍时间为2016年6月12日。向法院递交一拍申请已是5月底，跟代理人沟通挂拍时间，说是一周内没问题，但6月8日时，仍未见挂拍。</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置思路</p>
                            <ul>
                                <li>
                                    <p>综合各种情形后决定继续以长城资产公司的名义继续执行，不变更执行主体，立即完成司法拍卖一拍挂拍。</p>
                                </li>
                                <li>
                                    <p>充分了解法院资产挂拍的情况，以及回现时间的要协调，求，当机立断，紧急联系代理人，并经多方沟通实现6月12日顺利挂拍，6月28日拍卖,不耽误回现时间。</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置结果</p>
                            <p>该抵押物在6月28日拍卖当天，以金额1335.6万元成交。</p>
                        </li>
                    </ol>
                </div>

                <div class="marginTop20">
                    <h4>南京XX船务有限公司和南京XX贸易有限公司处置案例</h4>
                    <ol type=”1” start=”10”>
                        <li>
                            <p class="fontWeightBold">案情简介</p>
                            <p>南京XX船务有限公司一户债权剩余本金人民币2700万元，利息人民币1089129.16元，保证人连带责任保证，抵押物为旗下两艘多用途船舶。南京XX贸易有限公司一户债权剩余本金1990万元，利息人民币524852.89元保证人连带责任保证，抵押物为公司名下散货船1艘。</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">案件焦点</p>
                            <ul>
                                <li>
                                    <p>抵押物三艘船舶经核算收购债权财务成本、诉讼执行成本、船舶费用等各项支出后，两户报价远低于投资回收预期</p>
                                </li>
                                <li>
                                    <p>保证人与借款人负债太多，均已无偿债能力；</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置思路</p>
                            <p>客观分析本项目的焦点问题和项目解决的目的，处置项目经理先联系收购船舶类债权的资产管理公司（本案例称甲公司）和债务人（本案例称乙总）。甲公司经核算收购债权财务成本、诉讼执行成本、船舶费用等支出后，两户报价远低于投资回收预期。联系乙总后，乙总称其已无偿债能力，只能帮忙推介给其船运业的朋友，经综合的利弊分析，发挥债务人的积极作用，经协调后推荐了丙公司，经过与丙公司的多轮谈判最终以我方接受的价格完成两户债权的处置。</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置结果</p>
                            <p>本项目处置，突破固有的思维，与债务人达成合作，发挥债务人的积极作用，通过债务人推荐船运业丙公司，经过与丙公司的多轮谈判最终以我方接受的价格完成两户债权的处置，避开了诉讼周期长，船舶变现难、船舶费用高等不利因素的影响。</p>
                        </li>
                    </ol>
                </div>

                <div class="marginTop20">
                    <h4>舟山XX置业有限公司债权案例</h4>
                    <ol type=”1” start=”10”>
                        <li>
                            <p class="fontWeightBold">案情简介</p>
                            <p>本户债权受让于宁波浙商资产管理有限公司，抵押物位于舟山市普陀区某处的土地使用权，土地面积为21333.3平方米，保证人为舟山XX房地产开发有限公司、浙江某控股集团有限公司、浙江XX置业有限公司及自然人。目前司法状态为破产，抵押物现状为烂尾的在建工程。</p>
                        </li>
                        <li>
                            <p class="fontWeightBold">案件焦点</p>
                            <ul>
                                <li>
                                    <p>在建工程款所占比例过高，影响我方受偿，如何提高土地评估价值成为本案的关键；</p>
                                </li>
                                <li>
                                    <p>受偿比例低于收购预期，只有提高最终受偿额才能避免“资不抵债”；</p>
                                </li>
                                <li>
                                    <p>破产管理人权衡多方利益，并未同意我方提交的异议方案；</p>
                                </li>
                                <li>
                                    <p>如何进行项目增值，增加债转谈判的筹码；</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置思路</p>
                            <ul>
                                <li>
                                    <p>加大营销力度，使本户债权及抵押物得到充分宣传，提升关注度；</p>
                                </li>
                                <li>
                                    <p>处置团队深入舟山地区，联系债务人、破产管理人、其他债权人等，摸清现状及了解各方意图，尝试推进债权转让，并同时对接多家房开公司等；</p>
                                </li>
                                <li>
                                    <p>评估报告合理性，针对评估报告评估比例及破产表决中等存在瑕疵提出异议，施压法院及破产管理人；找寻宁波舟山地区合适代理人，要求重新评估；</p>
                                </li>
                                <li>
                                    <p>研究舟山土地政策，测算抵债或参拍的财务成本；测算收益。</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="fontWeightBold">处置结果</p>
                            <ul>
                                <li>
                                    <p>与债务人谈判施压，尝试和解可能（因债务人资金链断裂放弃）；</p>
                                </li>
                                <li>
                                    <p>与抵押物占用人、债务人的债权人等谈判，商谈清障方案，因对价及成本暂未谈拢；</p>
                                </li>
                                <li>
                                    <p>针对在建工程评估价过高，要求重新评估等施压破产管理人并找寻得力代理人；</p>
                                </li>
                                <li>
                                    <p>最终成交客户为上海一家房地产开发公司，并完成获取前期债转以及后期项目开发收益。</p>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4 class="title">{{"RECOMMENDEDPROJECT" | translate}}</h4>
                        <div class="separator-2"></div>
                        <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id" style="margin-bottom: 10px !important">
                            <div class="d-flex pr-2">
                                <div class="overlay-container">
                                    <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                                    <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="" ng-click="goToProject(p.id)">{{p.title}}</a>
                                </h6>
                                <p class="price colorPrimary marginBottom0">¥{{p.amount}}万</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>