<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Hoopa</title>
  <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
  <meta name="author" content="author">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Web Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet"> -->

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- FontHoopa CSS -->
  <link href="fonts/font-hoopa/style.css" rel="stylesheet">

  <!-- Plugins -->
  <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
  <link href="plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
  <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
  <link href="css/animations.css" rel="stylesheet">
  <link href="plugins/slick/slick.css" rel="stylesheet">

  <!-- The Project's core CSS file -->
  <!-- Use css/rtl_style.css for RTL version -->
  <link href="css/style.css" rel="stylesheet">
  <!-- The Project's Typography CSS file, includes used fonts -->
  <!-- Used font for body: Roboto -->
  <!-- Used font for headings: Raleway -->
  <!-- Use css/rtl_typography-default.css for RTL version -->
  <link href="css/typography-default.css" rel="stylesheet">
  <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
  <link href="css/skins/light_blue.css" rel="stylesheet">

  <!-- Custom css -->
  <link href="css/custom.css" rel="stylesheet">
</head>

<body class="front-page transparent-header" ng-controller="MainCtrl">
  <!-- scrollToTop -->
  <!-- ================ -->
  <div class="scrollToTop circle">
    <i class="fa fa-angle-up"></i>
  </div>

  <!-- <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- page wrapper start -->
  <!-- ================ -->
  <div class="page-wrapper">

    <!-- header-container start -->
    <div class="header-container">
      <!-- header-top start -->
      <!-- classes:  -->
      <!-- "dark": dark version of header top e.g. class="header-top dark" -->
      <!-- "colored": colored version of header top e.g. class="header-top colored" -->
      <!-- ================ -->
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-3 col-sm-6 col-lg-9">
              <!-- header-top-first start -->
              <!-- ================ -->
              <div class="header-top-first clearfix">
                <ul class="social-links circle small clearfix hidden-sm-down">
                  <li class="twitter">
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="skype">
                    <a href="#">
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li class="googleplus">
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="youtube">
                    <a href="#">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                  <li class="flickr">
                    <a href="#">
                      <i class="fa fa-flickr"></i>
                    </a>
                  </li>
                  <li class="facebook">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="pinterest">
                    <a href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                </ul>
                <div class="social-links hidden-md-up circle small">
                  <div class="btn-group dropdown">
                    <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-share-alt"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                      <li class="twitter">
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="skype">
                        <a href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="linkedin">
                        <a href="#">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </li>
                      <li class="googleplus">
                        <a href="#">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li class="youtube">
                        <a href="#">
                          <i class="fa fa-youtube-play"></i>
                        </a>
                      </li>
                      <li class="flickr">
                        <a href="#">
                          <i class="fa fa-flickr"></i>
                        </a>
                      </li>
                      <li class="facebook">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="pinterest">
                        <a href="#">
                          <i class="fa fa-pinterest"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <ul class="list-inline hidden-md-down">
                  <li class="list-inline-item">
                    <i class="text-default fa fa-map-marker pr-1 pl-2"></i>One Infinity Loop Av, Tk 123456</li>
                  <li class="list-inline-item">
                    <a href="tel:+12 123 123 123" class="link-dark">
                      <i class="text-default fa fa-phone pr-1 pl-2"></i>+12 123 123 123</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="mailto:email@domain.com" class="link-dark">
                      <i class="text-default fa fa-envelope-o pl-10 pr-1"></i>email@domain.com</a>
                </ul>
              </div>
              <!-- header-top-first end -->
            </div>
            <div class="col-9 col-sm-6 col-lg-3" ng-controller="LoginCtrl">

              <!-- header-top-second start -->
              <!-- ================ -->
              <div id="header-top-second" class="clearfix">

                <!-- header top dropdowns start -->
                <!-- ================ -->
                <div class="header-top-dropdown text-right">
                  <div class="btn-group">
                    <a href="" class="btn btn-sm paddingLR10">
                      <span class="icon-user spanSignUp"></span>
                      {{'SIGNUP' | translate}}
                    </a>
                  </div>
                  <div class="btn-group">
                    <a id="header-top-drop-2" type="button" class="btn dropdown-toggle paddingLR10 btn-sm dropdown-toggle--no-caret" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="icon-onlogin spanSignUp"></i> {{'LOGIN' | translate}}</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-top-drop-2">
                      <li>
                        <form class="login-form margin-clear">
                          <div class="form-group has-feedback">
                            <label class="control-label"> {{'USERNAME' | translate}}</label>
                            <input type="text" class="form-control" placeholder="">
                            <i class="fa fa-user form-control-feedback"></i>
                          </div>
                          <div class="form-group has-feedback">
                            <label class="control-label"> {{'PASSWORD' | translate}}</label>
                            <input type="password" class="form-control" placeholder="">
                            <i class="fa fa-lock form-control-feedback"></i>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <a type="submit" class="btn btn-gray btn-sm pull-right" ng-click="login()">{{'LOGIN' | translate}}</a>
                            </div>
                          </div>
                          <!-- <span class="pl-1 pr-1 orClass"> {{'OR' | translate}}</span>
                            <a type="submit" class="btn btn-sm"> {{'SIGNUP' | translate}}</a> -->
                          <ul class="listStyleNone">
                            <li>
                              <a href="" class="fontSize12"> {{'FORGOTPASS' | translate}}</a>
                            </li>
                          </ul>
                          <span class="text-center fontSize12 colorTextCustom"> {{'LOGINWITH' | translate}}</span>
                          <ul class="social-links circle small colored clearfix">
                            <li class="facebook">
                              <a href="">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li class="twitter">
                              <a href="">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li class="googleplus">
                              <a href="">
                                <i class="fa fa-google-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <a id="header-top-drop-2" type="button" class="btn dropdown-toggle btn-sm paddingLR10" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      {{languageShort}}</a>
                    <ul id="language" class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-top-drop-2">
                      <li href="" class="languageActive" ng-click="setLanguage('cn_CN')">
                        <a class="colorInherit">{{'CHINESE' | translate}}</a>
                      </li>
                      <li href="" class="languageActive" ng-click="setLanguage('en_EN')">
                        <a class="colorInherit">{{'ENGLISH' | translate}}</a>
                      </li>
                      <li href="" class="languageActive" ng-click="setLanguage('es_ES')">
                        <a class="colorInherit">{{'SPANISH' | translate}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--  header top dropdowns end -->
              </div>
              <!-- header-top-second end -->
            </div>
          </div>
        </div>
      </div>
      <!-- header-top end -->

      <!-- header start -->
      <!-- classes:  -->
      <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
      <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
      <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
      <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
      <!-- "centered": mandatory class for the centered logo layout -->
      <!-- ================ -->
      <header class="header fixed fixed-desktop clearfix backgroundWhite">
        <div class="container">
          <div class="row">
            <div class="col-md-auto hidden-md-down">
              <!-- header-first start -->
              <!-- ================ -->
              <div class="header-first clearfix">

                <!-- logo -->
                <div id="logo" class="logo">
                  <a href="index.html">
                    <img class="logo_img" id="logo_img" src="images/LogoHoopa.png" alt="Hoopa">
                  </a>
                </div>

                <!-- name-and-slogan -->
                <!-- <div class="site-slogan">
                          Multipurpose HTML5 Template
                        </div> -->

              </div>
              <!-- header-first end -->

            </div>
            <div class="col-lg-8 ml-auto">

              <!-- header-second start -->
              <!-- ================ -->
              <div class="header-second clearfix">

                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation main-navigation--mega-menu main-navigation--style-2  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html">
                          <img class="logo_img" id="logo-img-mobile" src="images/LogoHoopa.png" alt="Hoopa">
                        </a>
                      </div>

                      <!-- name-and-slogan -->
                      <!-- <div class="site-slogan">
                              Multipurpose HTML5 Template
                            </div> -->

                    </div>

                    <!-- header dropdown buttons -->
                    <div class="header-dropdown-buttons hidden-lg-up p-0 ml-auto mr-3">
                      <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-3" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="icon-search"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-3">
                          <li>
                            <form role="search" class="search-box margin-clear">
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Search">
                                <i class="icon-search form-control-feedback"></i>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-4" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="icon-shopping-cart"></i>
                          <span class="cart-count default-bg">8</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-4">
                          <li>
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th class="quantity">QTY</th>
                                  <th class="product">Product</th>
                                  <th class="amount">Subtotal</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="quantity">2 x</td>
                                  <td class="product">
                                    <a href="shop-product.html">Android 4.4 Smartphone</a>
                                    <span class="small">4.7" Dual Core 1GB</span>
                                  </td>
                                  <td class="amount">$199.00</td>
                                </tr>
                                <tr>
                                  <td class="quantity">3 x</td>
                                  <td class="product">
                                    <a href="shop-product.html">Android 4.2 Tablet</a>
                                    <span class="small">7.3" Quad Core 2GB</span>
                                  </td>
                                  <td class="amount">$299.00</td>
                                </tr>
                                <tr>
                                  <td class="quantity">3 x</td>
                                  <td class="product">
                                    <a href="shop-product.html">Desktop PC</a>
                                    <span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span>
                                  </td>
                                  <td class="amount">$1499.00</td>
                                </tr>
                                <tr>
                                  <td class="total-quantity" colspan="2">Total 8 Items</td>
                                  <td class="total-amount">$1997.00</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="panel-body text-right">
                              <a href="shop-cart.html" class="btn btn-group btn-gray btn-sm">View Cart</a>
                              <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- header dropdown buttons end -->

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">

                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'HOME' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'GROUPOVERVIEW' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'GROUPINTRODUCTION' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'STRUCTURE' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'CORETEAM' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'DEVHISTORY' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'GROUPHONORS' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'CHAIRMAN' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'SERVICES' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'BSYSTEM' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'SPROCESS' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'SADVANTAGES' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'NEWS' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="" ng-click="customGoTo('news/1')">
                                <i class="fa fa-suitcase pr-2"></i>{{'MCOVERAGE' | translate }}</a>
                            </li>
                            <li>
                              <a href="" ng-click="customGoTo('news/2')">
                                <i class="fa fa-suitcase pr-2"></i>{{'LNEWS' | translate }}</a>
                            </li>
                            <li>
                              <a href="" ng-click="customGoTo('news/3')">
                                <i class="fa fa-suitcase pr-2"></i>{{'INEWS' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'ASSETS' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'IPROMOTION' | translate }}</a>
                            </li>
                            <li>
                              <a ng-click="customGoTo('projects')">
                                <i class="fa fa-suitcase pr-2"></i>{{'PLIST' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'FCASES' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'RESEARCH' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'RREPORT' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item ">
                          <a href="#" class="nav-link" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'MBA' | translate }}</a>
                        </li>
                        <li class="nav-item dropdown ">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'CONTACTUS' | translate }}</a>
                          <ul class="dropdown-menu" aria-labelledby="third-dropdown">
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'BOFFICES' | translate }}</a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fa fa-suitcase pr-2"></i>{{'TRECRUIMENT' | translate }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
              </div>
              <!-- header-second end -->

            </div>
            <div class="col-auto hidden-md-down">
              <!-- header dropdown buttons -->
              <div class="header-dropdown-buttons">
                <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-search"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
                    <li>
                      <form role="search" class="search-box margin-clear">
                        <div class="form-group has-feedback">
                          <input type="text" class="form-control" placeholder="Search">
                          <i class="icon-search form-control-feedback"></i>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-shopping-cart"></i>
                    <span class="cart-count default-bg">8</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-2">
                    <li>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th class="quantity">QTY</th>
                            <th class="product">Product</th>
                            <th class="amount">Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="quantity">2 x</td>
                            <td class="product">
                              <a href="shop-product.html">Android 4.4 Smartphone</a>
                              <span class="small">4.7" Dual Core 1GB</span>
                            </td>
                            <td class="amount">$199.00</td>
                          </tr>
                          <tr>
                            <td class="quantity">3 x</td>
                            <td class="product">
                              <a href="shop-product.html">Android 4.2 Tablet</a>
                              <span class="small">7.3" Quad Core 2GB</span>
                            </td>
                            <td class="amount">$299.00</td>
                          </tr>
                          <tr>
                            <td class="quantity">3 x</td>
                            <td class="product">
                              <a href="shop-product.html">Desktop PC</a>
                              <span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span>
                            </td>
                            <td class="amount">$1499.00</td>
                          </tr>
                          <tr>
                            <td class="total-quantity" colspan="2">Total 8 Items</td>
                            <td class="total-amount">$1997.00</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="panel-body text-right">
                        <a href="shop-cart.html" class="btn btn-group btn-gray btn-sm">View Cart</a>
                        <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- header dropdown buttons end -->
            </div>
          </div>
        </div>
      </header>
      <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner clearfix" ng-show="showBanner">

      <!-- slideshow start -->
      <!-- ================ -->
      <div class="slideshow">

        <!-- <div class="slider-revolution-5-container">
          <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
            <ul class="slides">
              <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Slide Title">
                <img src="images/home6.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">
                <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
                </div>
                <div class="tp-caption large_white" data-x="left" data-y="200" data-start="500" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="logo-font">The Project</span> - Clean Bootstrap Template
                </div>
                <div class="tp-caption large_white tp-resizeme" data-x="left" data-y="270" data-start="750" data-transform_idle="o:1;" data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator-2 light"></div>
                </div>
                <div class="tp-caption medium_white" data-x="left" data-y="290" data-start="750" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;s:750;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici,
                  <br> tenetur fugiat dolorum sapiente eligendi...
                </div>
                <div class="tp-caption small_white" data-x="left" data-y="410" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#" class="btn btn-gray radius-50 btn-lg btn-animated margin-clear">Learn More
                    <i class="fa fa-info-circle"></i>
                  </a>
                  <span class="pl-1 pr-1">or</span>
                  <a href="" class="btn radius-50 btn-lg btn-animated margin-clear">Contact Us
                    <i class="fa fa-envelope"></i>
                  </a>
                </div>
                <div class="tp-caption" data-x="center" data-y="bottom" data-voffset="100" data-start="1250" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#page-start" class="btn btn-lg moving smooth-scroll">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-down"></i>
                  </a>
                </div>
              </li>
              <li class="text-right" data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Simple and Smart Bootstrap Template">
                <img src="images/home7.jpg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">
                <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
                </div>
                <div class="tp-caption large_white" data-x="right" data-y="200" data-start="500" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="logo-font">The Project</span> - Excepteur sint and Layouts
                </div>
                <div class="tp-caption large_white tp-resizeme" data-x="right" data-y="270" data-start="750" data-transform_idle="o:1;" data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator-3 light"></div>
                </div>
                <div class="tp-caption medium_white" data-x="right" data-y="290" data-start="750" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;s:750;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici,
                  <br> tenetur fugiat dolorum sapiente eligendi
                </div>
                <div class="tp-caption small_white" data-x="right" data-y="410" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#" class="btn btn-gray radius-50 btn-lg btn-animated margin-clear">Learn More
                    <i class="fa fa-info-circle"></i>
                  </a>
                  <span class="pl-1 pr-1">or</span>
                  <a href="" class="btn btn-lg radius-50 btn-animated margin-clear">Contact Us
                    <i class="fa fa-envelope"></i>
                  </a>
                </div>
                <div class="tp-caption" data-x="center" data-y="bottom" data-voffset="100" data-start="1250" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#page-start" class="btn btn-lg moving smooth-scroll">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-down"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div> -->

        <div class="slider-revolution-5-container">
          <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
            <ul class="slides">
              <!-- slide 1 start -->
              <!-- ================ -->
              <li data-transition="slidehorizontal" data-slotamount="default" data-masterspeed="default" data-title="Team Circle">

                <!-- main image -->
                <img src="images/home6.jpg" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white" data-x="left" data-y="150" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Next Generation Template
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_white" data-x="left" data-y="230" data-speed="500" data-start="1200" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-laptop"></i>
                  </span> 100% Responsive
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white" data-x="left" data-y="290" data-speed="500" data-start="1400" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-check"></i>
                  </span> Bootstrap Based
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption medium_white" data-x="left" data-y="350" data-speed="500" data-start="1600" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-gift"></i>
                  </span> Packed Full of Features
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white" data-x="left" data-y="410" data-speed="500" data-start="1800" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-hourglass-half"></i>
                  </span> Very Elegant Design
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption small_white" data-x="left" data-y="480" data-speed="500" data-start="2000" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#" class="btn btn-default btn-lg btn-animated">Purchase
                    <i class="fa fa-cart-arrow-down"></i>
                  </a>
                </div>

              </li>
              <!-- slide 1 end -->

              <!-- slide 2 start -->
              <!-- ================ -->
              <li data-transition="slidehorizontal" data-slotamount="default" data-masterspeed="default" data-title="Team Work">

                <!-- main image -->
                <img src="images/home7.jpg" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;" data-width="5000" data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white" data-x="left" data-y="150" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Premium HTML5 Bootstrap Theme
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_white" data-x="left" data-y="230" data-speed="500" data-start="1200" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-laptop"></i>
                  </span> W3C Validated
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white" data-x="left" data-y="290" data-speed="500" data-start="1400" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-check"></i>
                  </span> Unt loremcu dolor
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption medium_white" data-x="left" data-y="350" data-speed="500" data-start="1600" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-gift"></i>
                  </span> Crossbrowser Compatible
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white" data-x="left" data-y="410" data-speed="500" data-start="1800" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <span class="icon default-bg circle small hidden-sm-down">
                    <i class="fa fa-hourglass-half"></i>
                  </span> Very Elegant Design
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption small_white" data-x="left" data-y="480" data-speed="500" data-start="2000" data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="#" class="btn btn-default-transparent btn-lg btn-animated">Purchase
                    <i class="fa fa-cart-arrow-down"></i>
                  </a>
                </div>

              </li>
              <!-- slide 2 end -->
            </ul>
            <div class="tp-bannertimer"></div>
          </div>
        </div>

      </div>
      <!-- slideshow end -->

    </div>
    <!-- banner end -->


    <div ng-view></div>

    <!-- <div>Angular seed app: v<span app-version></span></div> -->

    <!-- footer top start -->
    <!-- ================ -->
    <!-- <div class="default-translucent-bg border-clear footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="call-to-action text-center">
              <div class="row">
                <div class="col-md-8">
                  <h2 class="mt-4">Powerful Bootstrap Template</h2>
                  <h2 class="mt-4">Waste no more time</h2>
                </div>
                <div class="col-md-4">
                  <p class="mt-3">
                    <a href="#" class="btn btn-animated btn-lg btn-gray-transparent radius-50">Purchase
                      <i class="fa fa-cart-arrow-down pl-20"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- footer top end -->
    </section>
    <!-- section end -->

    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix">
      <div class="footer">
        <div class="container">
          <div class="footer-inner">
            <div class="row justify-content-lg-center">
              <div class="col-lg-6">
                <div class="footer-content text-center padding-ver-clear">
                  <div class="logo-footer">
                    <div class="col-md-12 paddingBottom20">
                      <div class="row">
                        <div class="col-md-6">
                          <img id="logo-footer borderRight" class="mx-auto" src="images/LogoHoopa.png" alt="">
                        </div>
                        <div class="col-md-6 borderLeft">
                          <img id="qr-footer" class="mx-auto" src="images/qrcode.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur
                      doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor
                      sit amet, illo vel dolorum soluta consectetur.</p>
                    <ul class="list-inline mb-20">
                      <li class="list-inline-item">
                        <i class="text-default fa fa-map-marker pr-1"></i>One infinity loop, 54100</li>
                      <li class="list-inline-item">
                        <a href="tel:+00 1234567890" class="link-dark">
                          <i class="text-default fa fa-phone pl-10 pr-1"></i>+00 1234567890</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="mailto:email@domain.com" class="link-dark">
                          <i class="text-default fa fa-envelope-o pl-10 pr-1"></i>email@domain.com</a>
                      </li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="facebook">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="twitter">
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="googleplus">
                        <a href="#">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li class="linkedin">
                        <a href="#">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </li>
                      <li class="xing">
                        <a href="#">
                          <i class="fa fa-xing"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">Copyright © 2018 Hoopa. All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <!-- footer end -->


    </div>
    <!-- page-wrapper end -->

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="js/av-live-query.js"></script>
    <script src="js/initLeanCloud.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="views/home/home.js"></script>
    <script src="views/news/news.js"></script>
    <script src="views/viewNews/viewNews.js"></script>
    <script src="views/projects/projects.js"></script>
    <script src="views/project-details/project-details.js"></script>
    <script src="mainControllers/login.js"></script>
    <script src="mainControllers/main.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <!-- Jquery and Bootstap core js files -->
    <script src="plugins/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope javascript -->
    <script src="plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script src="plugins/countTo/jquery.countTo.js"></script>
    <!-- Google Maps javascript -->
    <!-- <script src="js/google.map.config.js"></script> -->
    <!-- Slick carousel javascript -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- Initialization of Plugins -->
    <script src="js/template.js"></script>
    <!-- Custom Scripts -->
    <script src="js/custom.js"></script>

    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>

    <!-- Angular Translate -->
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
</body>

</html>