<div id="page-start">
    <div class="paddingBoxHome col-lg-12">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <h1 class="text-center mt-4 fontWeight400"> {{'OUR' | translate}}
                    <strong> {{'SERVICES' | translate}} </strong>
                </h1>
                <div class="separator"></div>
                <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis
                    ducimus sequi animi.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                    data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle">
                        <i class="icon-Offertas iconSpanHome"></i>
                    </span>
                    <h3>Great &amp; elegant</h3>
                    <div class="separator clearfix"></div>
                    <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet,
                        consectetur.
                    </p>
                    <a href=""> {{'READMORE' | translate}}
                        <i class="pl-1 fa fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                    data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon default-bg circle">
                        <i class="icon-Services iconSpanHome"></i>
                    </span>
                    <h3>Porro ullam volu</h3>
                    <div class="separator clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="">{{'READMORE' | translate}}
                        <i class="pl-1 fa fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                    data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle">
                        <i class="icon-Statistics iconSpanHome"></i>
                    </span>
                    <h3>Latest Technologies</h3>
                    <div class="separator clearfix"></div>
                    <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="">{{'READMORE' | translate}}
                        <i class="pl-1 fa fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                    data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle">
                        <i class="icon-Total-offers iconSpanHome"></i>
                    </span>
                    <h3>Latest Technologies</h3>
                    <div class="separator clearfix"></div>
                    <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="">{{'READMORE' | translate}}
                        <i class="pl-1 fa fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="section background-slide-1 dark-translucent-bg" style="background-position: 50% 42%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-lg-8">
                                <h1 class="title textWhite">Don't Miss Out Our Offers</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur
                                    consectetur, a atque voluptate officiis eligendi nostrum.</p>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <p>
                                    <a href="" class="btn btn-lg btn-outline-light btn-animated backgroundWhite">Learn More
                                        <i class="fa fa-arrow-right pl-20"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-container paddingBoxHome">
        <div class="container">
            <div class="row">
                <div class="main col-12">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8">
                            <h1 class="text-center mt-4 fontWeight400"> {{'OURF' | translate}}
                                <strong> {{'WEBP' | translate}} </strong>
                            </h1>
                            <div class="separator"></div>
                            <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora
                                saepe perspiciatis ducimus sequi animi.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus illo vero cupiditate, sed
                                enim voluptatibus provident consectetur. Quo dolor sunt nostrum, eligendi illo accusamus
                                odit, ipsam excepturi voluptatem nulla minus.</p>
                            <p>Blanditiis aspernatur, non quasi, maxime corporis officiis quia. Cupiditate, voluptatibus ducimus,
                                natus, labore mollitia dolorem incidunt voluptatum, delectus eius fugit porro placeat animi
                                voluptatem autem hic eligendi sint. Amet pariatur odit repudiandae sunt. Rem ipsum dolor
                                sit amet, consectetur adipisicing elit. Sunt asperiores a.</p>
                            <ul class="list-icons">
                                <li>
                                    <i class="fa fa-check-square-o"></i> Unt in culpa qui deserunt</li>
                                <li>
                                    <i class="fa fa-check-square-o"></i> Elegant Design</li>
                                <li>
                                    <i class="fa fa-check-square-o"></i> Labore et dolore magna aliqua</li>
                                <li>
                                    <i class="fa fa-check-square-o"></i> ipsam asperiores fugiat quo</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="overlay-container overlay-visible">
                                <img src="images/home6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="light-gray-bg">
    </section>

    <section class="section light-gray-bg clearfix paddingBoxHome">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h1 class="text-center mt-4 fontWeight400"> {{'OUR' | translate}}
                        <strong> {{'PROJECTS' | translate}} </strong>
                    </h1>
                    <div class="separator"></div>
                    <div class="text-center">
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(1)" ng-class="{activeProjectFilter: projectActive == 1}">
                            {{'TOPASSETS' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(2)" ng-class="{activeProjectFilter: projectActive == 2}">
                            {{'HIGHCOST' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(3)" ng-class="{activeProjectFilter: projectActive == 3}">
                            {{'QFACTORY' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(4)" ng-class="{activeProjectFilter: projectActive == 4}">
                            {{'HOTPUSH' | translate}}
                        </a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padding0" ng-show="projectActive == 1" ng-repeat="p in productsHot">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 2" ng-repeat="p in productsHouse">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 3" ng-repeat="p in productsFactory">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 4" ng-repeat="p in productsShop">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <!-- <section id="sectionPartners" class="dark-translucent-bg fixed-bg pv-30 backgroundWhite">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h2 class="text-center mt-4"> {{'OUR' | translate}}
                        <strong>{{'PARTNERS' | translate}} </strong>
                    </h2>
                    <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe
                        perspiciatis ducimus sequi animi.</p>
                </div>
            </div>
            <div class="row">
                <ul rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-auto-slide class="image col-md-12">
                    <li>
                        <a href="">
                            <img src="images/partners/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/5.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/6.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/7.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/8.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/9.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/10.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/11.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/12.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/13.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/partners/14.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>-->
</div>