<div id="page-start">
    <!-- <section class="section light-gray-bg clearfix paddingBoxHome">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h1 class="text-center mt-4 fontWeight400"> {{'OUR' | translate}}
                        <strong> {{'PROJECTS' | translate}} </strong>
                    </h1>
                    <div class="separator"></div>
                    <div class="text-center">
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(1)" ng-class="{activeProjectFilter: projectActive == 1}">
                            {{'TOPASSETS' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(2)" ng-class="{activeProjectFilter: projectActive == 2}">
                            {{'HIGHCOST' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(3)" ng-class="{activeProjectFilter: projectActive == 3}">
                            {{'QFACTORY' | translate}}
                        </a>
                        <a href="" class="btn btn-sm hoverButtonProject" ng-click="changeActive(4)" ng-class="{activeProjectFilter: projectActive == 4}">
                            {{'HOTPUSH' | translate}}
                        </a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padding0" ng-show="projectActive == 1" ng-repeat="p in productsHot">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 2" ng-repeat="p in productsHouse">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 3" ng-repeat="p in productsFactory">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding0" ng-show="projectActive == 4" ng-repeat="p in productsShop">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img class="imageProjectHome" ng-src="{{p.mainImage}}" alt="">
                            <a href="" ng-click="goToProject(p.id)" class="overlay-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <div class="overlay-bottom hidden-sm-down">
                                <div class="text">
                                    <p class="lead margin-clear">¥{{p.get('debitAmount')}}万</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>{{p.get('description')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="section light-gray-bg clearfix backgroundSectionHome">
        <div class="col-12 paddingHome">
            <div class="row marginRight0XS">
                <div class="col-md-4 col-12 paddingLeft0XS paddingRight0XS width90P backgroundBlue">
                    <h3 class="col-lg-12 page-title textWhite marginBottom20 marginTop20">{{'VIDEO' | translate }}</h3>
                    <video class="videoHoopa" src="http://lc-qpv1wnqe.cn-n1.lcfile.com/7ded4d8f482e88bcf676.mp4" controls></video>
                </div>
                <div class="col-md-1 hidden-sm"></div>
                <div class="col-md-7 col-12 row paddingRight0XS marginTop40XS paddingLeft0XS marginLeft0XS">
                    <div class="col-lg-12 backgroundBlue">
                        <h3 class="page-title textWhite marginTop20 marginBottom20">{{'COMPANYNEWS' | translate }}</h3>
                        <img src="images/more.png" class="buttonMoreNewsHome cursorPointer" ng-click="customGoTo('news/1')">
                    </div>
                    <div class="row marginTop20 paddingLeft0XS">
                        <div class="col-lg-4" ng-repeat="n in news | limitTo: 3">
                            <div class="image-box text-center style-2 mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img ng-click="goToNews(n.id)" class="imageNewsListHome cursorPointer" ng-src="{{n.mainImage}}">
                                    <div class="titleNewsHome cursorPointer" ng-click="goToNews(n.id)">
                                        <p class="lead margin-clear textWhite fontSize14">{{n.titleMin}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p>{{n.contentMin}}</p>
                            </div>
                            <div class="link text-center">
                                <i class="fa fa-link pr-1 fontSize12"></i>
                                <a class="fontSize12 textDecorationNone" ng-click="goToNews(n.id)" href="">{{'READMORE' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row paddingHome width90P marginBottom60">
            <div class="col-lg-12 backgroundBlue">
                <h3 class="page-title textWhite marginTop20 marginBottom20">{{'INDUSTRYNEWS' | translate }}</h3>
                <img src="images/more.png" class="buttonMoreNewsHome cursorPointer" ng-click="customGoTo('news/1')">
            </div>
            <div class="row marginTop20 paddingLeft0XS marginLeftAuto marginRightAuto">
                <div class="padding0 industryNews" ng-repeat="n in industryNews" ng-class="{'marginLeft6p3P': $index != 0}">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img ng-click="goToNews(n.id)" class="imageNewsListHome cursorPointer" ng-src="{{n.mainImage}}">
                            <div class="titleNewsHome cursorPointer" ng-click="goToNews(n.id)">
                                <p class="lead margin-clear textWhite fontSize14">{{n.titleMin}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p>{{n.contentMin}}</p>
                    </div>
                    <div class="link text-center">
                        <i class="fa fa-link pr-1 fontSize12"></i>
                        <a class="fontSize12 textDecorationNone" ng-click="goToNews(n.id)" href="">{{'READMORE' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>