<div id="page-start">
    <section class="section light-gray-bg clearfix backgroundSectionHome">
        <div class="col-12 paddingHome">
            <div class="row marginRight0XS">
                <div class="col-lg-4 col-sm-12 col-12 paddingLeft0XS paddingRight0XS width90P backgroundBlue">
                    <h3 class="col-lg-12 page-title textWhite marginBottom10 marginTop10">{{'VIDEO' | translate }}</h3>
                    <video class="videoHoopa" src="http://lc-qpv1wnqe.cn-n1.lcfile.com/7ded4d8f482e88bcf676.mp4"></video>
                </div>
                <div class="col-lg-1 hidden-sm"></div>
                <div class="col-lg-7 col-sm-12 col-12 row paddingRight0XS marginTop40XS paddingLeft0XS marginLeft0XS">
                    <div class="col-lg-12 backgroundBlue">
                        <h3 class="page-title textWhite marginTop10 marginBottom10">{{'COMPANYNEWS' | translate }}</h3>
                        <img src="images/more.png" class="buttonMoreNewsHome cursorPointer" ng-click="customGoTo('news/0')">
                    </div>
                    <div class="row marginTop20 paddingLeft0XS">
                        <div class="newsCompanyBox" ng-repeat="n in news | limitTo: limitNews" ng-cloak>
                            <div class="image-box text-center style-2 mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img ng-click="goToNews(n.id)" class="imageNewsListCompanyHome cursorPointer" ng-src="{{n.mainImage}}">
                                    <div class="titleNewsHome cursorPointer" ng-click="goToNews(n.id)">
                                        <p class="lead margin-clear textWhite fontSize14">{{n.titleMin}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p class="marginFirstLineHome">{{n.contentMin}}</p>
                            </div>
                            <div class="link text-center">
                                <i class="fa fa-link pr-1 fontSize12"></i>
                                <a class="fontSize12 textDecorationNone" ng-click="goToNews(n.id)" href="">{{'READMORE' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row paddingHome width90P marginBottom60">
            <div class="col-lg-12 backgroundBlue">
                <h3 class="page-title textWhite marginTop10 marginBottom10">{{'INDUSTRYNEWS' | translate }}</h3>
                <img src="images/more.png" class="buttonMoreNewsHome cursorPointer" ng-click="customGoTo('news/1')">
            </div>
            <div class="row marginTop20 paddingLeft0XS marginLeftAuto marginRightAuto">
                <div class="padding0 industryNews" ng-repeat="n in industryNews" ng-class="{'marginLeft6p3P': $index != 0}">
                    <div class="image-box text-center style-2 mb-20">
                        <div class="overlay-container overlay-visible">
                            <img ng-click="goToNews(n.id)" class="imageNewsListHome cursorPointer" ng-src="{{n.mainImage}}">
                            <div class="titleNewsHome cursorPointer" ng-click="goToNews(n.id)">
                                <p class="lead margin-clear textWhite fontSize14">{{n.titleMin}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p class="marginFirstLineHome">{{n.contentMin}}</p>
                    </div>
                    <div class="link text-center">
                        <i class="fa fa-link pr-1 fontSize12"></i>
                        <a class="fontSize12 textDecorationNone" ng-click="goToNews(n.id)" href="">{{'READMORE' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>