<div class="paddingBoxHome">
  <div class="container">
    <div class="row">
      <div class="main col-lg-8 ml-xl-auto paddingLeft0 paddingRight0">
        <div class="space-top">
          <article class="blogpost" ng-repeat="f in news" ng-class="{'marginBottom0': $index == ((news.length)-1)}">
            <div class="row grid-space-10">
              <div class="col-lg-6">
                <div id="{{f.id}}" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators bottom margin-clear">
                    <li data-target="#{{f.id}}" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" ng-repeat="n in f.newsMedia"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item" ng-class="{'active': $index==0}" ng-repeat="n in f.newsMedia">
                      <div class="overlay-container">
                        <img class="imageNewsSlide" ng-src="{{n.image}}">
                        <a class="overlay-link" href="" ng-click="goToProject(f.id)">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <header>
                  <h3>
                    <a href="">{{f.title}}</a>
                  </h3>
                  <div class="post-info">
                    <span class="post-date">
                      <i class="fa fa-calendar-o pr-1"></i>
                      <span class="day">{{f.date.getDate()}}</span>
                      <span class="month">{{month[f.date.getMonth()]}} {{f.date.getFullYear()}}</span>
                    </span>
                    <!-- <span class="submitted">
                        <i class="fa fa-user pr-1 pl-1"></i> by
                        <a href="#">John Doe</a>
                      </span> -->
                    <!-- <span class="comments">
                        <i class="fa fa-comments-o pl-1 pr-1"></i>
                        <a href="#">22 comments</a>
                      </span> -->
                  </div>
                </header>
                <div class="blogpost-content">
                  <p>{{f.content}}</p>
                  <div class="link pull-right marginRight13">
                    <i class="fa fa-link pr-1 fontSize12"></i>
                    <a class="fontSize12" ng-click="goToProject(f.id)" href="">{{'READMORE' | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
            <footer class="clearfix"></footer>
          </article>
        </div>
        <!-- pagination start -->
        <nav aria-label="Page navigation" ng-show="newsPagination != 0">
          <ul class="pagination justify-content-center">
            <li class="page-item" ng-hide="page == 1">
              <a class="page-link" ng-click="previous()" href="" aria-label="Previous">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
                <span class="sr-only">{{'PREVIOUS' | translate}}</span>
              </a>
            </li>
            <li ng-repeat="n in pagNum" class="page-item" ng-class="{'active': page == n}">
              <a class="page-link" ng-click="goToPage(n)" href="">{{n}}</a>
            </li>
            <li class="page-item" ng-hide="page == pagNum[pagNum.length-1]">
              <a class="page-link" ng-click="next()" href="" aria-label="Next">
                <i aria-hidden="true" class="fa fa-angle-right"></i>
                <span class="sr-only">{{'NEXT' | translate}}</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->
      </div>
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title">News</h3>
            <div class="separator-2"></div>
            <nav>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="" ng-click="ChangeNews(1)" ng-class="{'active': activeSideBar == 1}">Media Coverage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" ng-click="ChangeNews(2)" ng-class="{'active': activeSideBar == 2}">Latest News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" ng-click="ChangeNews(3)" ng-class="{'active': activeSideBar == 3}">Industry News</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- <div class="block clearfix">
              <h3 class="title">Hot News</h3>
              <div class="separator-2"></div>
              <div id="carousel-portfolio-sidebar" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li ng-repeat="f in news" data-target="#carousel-portfolio-sidebar" data-slide-to="{{$index}}"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item" ng-class="{'active': $index==0}" ng-repeat="n in news">
                    <div class="image-box shadow text-center mb-20">
                      <div class="overlay-container" ng-click="goToProject(n.id)">
                        <img ng-src="{{n.mainImage}}">
                        <a class="overlay-link">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          <div class="block clearfix">
            <h3 class="title">{{'LASTEStNEWS' | translate }}</h3>
            <div class="separator-2"></div>
            <div class="media margin-clear marginBottom5" ng-repeat="n in news">
              <div class="d-flex pr-2">
                <div class="overlay-container">
                  <img class="media-object" ng-src="{{n.mainImage}}">
                  <a ng-click="goToProject(n.id)" href="" class="overlay-link small">
                    <i class="fa fa-link"></i>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-heading">
                  <a ng-click="goToProject(n.id)" href="">{{n.title}}</a>
                </h6>
                <p class="small margin-clear">
                  <i class="fa fa-calendar pr-10"></i>{{month[n.date.getMonth()]}} {{n.date.getDate()}}, {{n.date.getFullYear()}} </p>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>