<!-- main-container start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row">
            <div class="main col-lg-8 padding0">
                <h3 class="page-title">{{'BOFFICES' | translate }}</h3>
                <div class="separator-2"></div>
                <div>   
                    <h4>杭州总部</h4>
                    <p class="icon-Offices"> 杭州市江干区城星路111号钱江国际时代广场3幢2701室</p>
                    <a href="tel:+86 0571 85267521" class="icon-Phone"> 0571-85267521（浙江事业部）</a>
                    <a href="tel:+86 0571 85267525" class="icon-Phone"> 0571-85267525（创新事业部&大浙江区）</a>
                </div>
                <div class="marginTop20">   
                    <h4>南京事业部</h4>
                    <p class="icon-Offices"> 南京市中山东路东路218号长安国际中心905室</p>
                    <a href="tel:+86 025 52240552" class="icon-Phone"> 025 52240552</a>
                </div>
                <div class="marginTop20"> 
                    <h4>麦黍稷投资管理有限公司（上海分公司）</h4>
                    <p class="icon-Offices"> 上海市徐汇区中山西路1800号17E2</p>
                    <a href="tel:+86 021 23560130" class="icon-Phone"> 021 23560130</a>
                </div>
                <div class="marginTop20"> 
                    <h4>浙江宝融胡巴投资管理有限公司（东北分公司）</h4>
                    <p class="icon-Offices"> 黑龙江省哈尔滨市道里区建国北六道街8号院内独栋四楼</p>
                    <a href="tel:+86 0451 58958877" class="icon-Phone"> 0451 58958877</a>
                </div>
                <div class="marginTop20"> 
                    <h4>无锡乐道胡巴投资管理有限公司（无锡分公司）</h4>
                    <p class="icon-Offices"> 无锡市滨海区建筑西路599号无锡国家工业设计园1栋12楼</p>
                    <a href="tel:+86 0510 85162133" class="icon-Phone"> 0510 85162133</a>
                </div>
                <div class="marginTop20">    
                    <h4>广州事业部</h4>
                    <p class="icon-Offices"> 广州市珠江新城华夏路16号富力盈凯广场3407室</p>
                    <a href="tel:+86 1894 72866890" class="icon-Phone"> 189472866890（刘经理）</a>
                </div>
                <div class="marginTop20">    
                    <h4>河南事业部</h4>
                    <p class="icon-Offices"> 郑州市民生路与祥盛街交叉口福晟国际2号楼7楼</p>
                    <a href="tel:+86 1739 8963601" class="icon-Phone"> 17398963601（蔡经理）</a>
                </div>
                <div class="marginTop20">   
                    <h4>长沙锐达胡巴商务咨询有限公司（长沙分公司）</h4>
                    <p class="icon-Offices"> 长沙市芙蓉区银华大酒店4楼</p>
                    <a href="tel:+86 1585 7133501" class="icon-Phone"> 15857133501（张经理）</a>
                </div>
                <div class="marginTop20">    
                    <h4>合肥胡巴资产管理有限公司（合肥分公司）</h4>
                    <p class="icon-Offices"> 合肥市徽州大道396号东方广场B座12层</p>
                    <a href="tel:+86 0551 65616683" class="icon-Phone"> 0551-65616683</a>
                </div>
            </div>
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4 class="title">{{"RECOMMENDEDPROJECT" | translate}}</h4>
                        <div class="separator-2"></div>
                        <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id" style="margin-bottom: 10px !important">
                            <div class="d-flex pr-2">
                                <div class="overlay-container">
                                    <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                                    <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="" ng-click="goToProject(p.id)">{{p.title}}</a>
                                </h6>
                                <p class="price colorPrimary marginBottom0">¥{{p.amount}}万</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>