<div class="breadcrumb-container marginTop80">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a href="index.html">{{'HOME' | translate}}</a>
            </li>
            <li class="breadcrumb-item cursorDefault active">{{'BOFFICES' | translate }}</li>
        </ol>
    </div>
</div>
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row paddingBottom60">
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizes" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>杭州总部</h4>
                            <p>杭州市江干区城星路111号钱江国际时代广场3幢2701室</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 0571-85267521（浙江事业部）</a>
                            <a href="tel:+86 0571 85267525" class="icon-Phone textDecorationNone"> 0571-85267525（创新事业部&大浙江区）</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizes" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>南京事业部</h4>
                            <p>南京市中山东路东路218号长安国际中心905室</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 025 52240552</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizes" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>麦黍稷投资管理有限公司（上海分公司）</h4>
                            <p>上海市徐汇区中山西路1800号17E2</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 021 2356013</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>浙江宝融胡巴投资管理有限公司（东北分公司）</h4>
                            <p>黑龙江省哈尔滨市道里区建国北六道街8号院内独栋四楼</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 0451 58958877</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>无锡乐道胡巴投资管理有限公司（无锡分公司）</h4>
                            <p>无锡市滨海区建筑西路599号无锡国家工业设计园1栋12楼</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 0510 85162133</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>广州事业部</h4>
                            <p>广州市珠江新城华夏路16号富力盈凯广场3407室</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 189472866890（刘经理）</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>河南事业部</h4>
                            <p>郑州市民生路与祥盛街交叉口福晟国际2号楼7楼</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 17398963601（蔡经理）</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>长沙锐达胡巴商务咨询有限公司（长沙分公司）</h4>
                            <p>长沙市芙蓉区银华大酒店4楼</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 15857133501（张经理）</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pv-30 ph-20 feature-box bordered shadow object-non-visible animated object-visible fadeInDownSmall BoxBranchesSizesOthers" data-animation-effect="fadeInDownSmall"
                    data-effect-delay="100">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="icon iconBranches circle">
                                <i class="icon-Offices iconSpanHome"></i>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <h4>合肥胡巴资产管理有限公司（合肥分公司）</h4>
                            <p>合肥市徽州大道396号东方广场B座12层</p>
                            <a href="tel:+86 0571 85267521" class="icon-Phone textDecorationNone"> 0551-65616683</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h4 class="title">{{"RECOMMENDEDPROJECT" | translate}}</h4>
                        <div class="separator-2"></div>
                        <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id" style="margin-bottom: 10px !important">
                            <div class="d-flex pr-2">
                                <div class="overlay-container">
                                    <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                                    <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="" ng-click="goToProject(p.id)">{{p.title}}</a>
                                </h6>
                                <p class="price colorPrimary marginBottom0">¥{{p.amount}}万</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </aside> -->
        </div>
    </div>
</section>