<div>
  <img class="imageBanner" src="images/hoopaDark.jpg" />
  <div class="textBanner">
    <p class="textWhite marginBottom0">{{'IPROMOTION' | translate }}</p>
    <!-- <p class="textWhite fontSize16">{{'HOME' | translate }} / {{'IPROMOTION' | translate }}</p> -->
  </div>
  <!-- <div class="lineBlueBanner"></div> -->
</div>
<div class="breadcrumb-container">
  <div class="container">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <i class="fa fa-home pr-2"></i>
              <a href="index.html" class="textDecorationNone fontSize16">{{'HOME' | translate}}</a>
          </li>
          <li class="breadcrumb-item cursorDefault fontSize16 active">{{'IPROMOTION' | translate }}</li>
      </ol>
  </div>
</div>
<section class="paddingBoxHome">
  <div class="container">
    <div class="row marginBottom20">
      <div class="row col-md-6 aligItemCenter paddingRight0XS">
        <label class="width25P">{{'TEXT' | translate}}</label>
        <input type="text" class="form-control width75P" ng-model="filters.text">
      </div>
      <div class="col-md-2 aligItemCenter paddingRight0XS"></div>
      <div class="col-md-2 paddingLeft0XS paddingRight0XS pull-right marginLeftAuto">
        <a href="" class="btn btn-default buttonFiltersProjects FRW" ng-click="resetFilters()">{{'RESETFILTERS' | translate}}</a>
      </div>
      <div class="col-md-2 paddingLeft0XS pull-right paddingRight0 aligItemCenter marginLeftAuto">
        <a href="" class="btn btn-default buttonFiltersProjects FRW" ng-click="applyFiltersClick()">{{'APPLYFILTERS' | translate}}</a>
      </div>
    </div>
    <div class="row marginBottom20">
      <div class="row col-md-4 aligItemCenter paddingRight0XS">
        <label class="width25P">{{'TYPE' | translate}}</label>
        <select id="type" class="form-control width75P" ng-model="filters.type" ng-options="x for x in typeArrivalArray">
        </select>
      </div>
      <div class="row col-md-4 aligItemCenter marginLeftAutoLG paddingRight0XS">
        <label class="width30P">{{'PROVINCE' | translate}}</label>
        <select id="province" class="form-control width70P" ng-model="filters.province" ng-options="x for x in provinces">
        </select>
      </div>
      <div class="row col-md-4 aligItemCenter marginLeftAutoLG paddingRight0XS">
        <label class="width25P marginLeftAutoLG">{{'AMOUNT' | translate}}</label>
        <input type="text" class="form-control width30P marginLeftAuto" ng-model="filters.amountMin">
        <label class="width5P marginLeftAuto">~</label>
        <input type="text" class="form-control width30P marginLeftAuto" ng-model="filters.amountMax">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="main col-12 padding0">
        <!-- Tab panes -->
        <div class="tab-content clear-style">
          <div class="tab-pane active" id="pill-1">
            <div class="row grid-space-10">
              <div class="col-md-3 col-sm-4" ng-repeat="project in products">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="overlay-container">
                    <img ng-click="goToProject(project.id)" class="imageProjectHome cursorPointer" ng-src="{{project.imageUrl}}">
                  </div>
                  <div class="body">
                    <h3>
                      <a class="textDecorationNone" ng-click="goToProject(project.id)" href="">{{project.title}}</a>
                    </h3>
                    <p class="small">{{project.description}}</p>
                    <div class="elements-list clearfix">
                      <a class="fontSize12 textDecorationNone link text-center pull-right"
                        ng-click="goToNews(n.id)" href="">
                        <i class="fa fa-link pr-1 fontSize12"></i>
                        {{'READMORE' | translate}}
                      </a>
                      <a href="" ng-hide="project.wished" ng-click="addToWhishList(project.id)" class="margin-clear btn btn-sm btn-default-transparent buttonProjectStyleHeart">
                        <i class="fa fa-heart-o fontSize18"></i>
                      </a>
                      <a href="" ng-hide="!project.wished" ng-click="removeToWhishList(project.id)" class="margin-clear btn btn-sm btn-default-transparent buttonProjectStyleHeart">
                        <i class="fa fa-heart fontSize18"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pills end -->

        <!-- pagination start -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="begin()">
                <i aria-hidden="true" class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="" aria-label="Previous" ng-click="previousPage()">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="">{{currentPage}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="nextPage()">
                <i aria-hidden="true" class="fa fa-angle-right"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="" aria-label="Next" ng-click="end()">
                <i aria-hidden="true" class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->