<!-- <div class="breadcrumb-container marginTop38">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a href="index.html">{{'HOME' | translate}}</a>
            </li>
            <li class="breadcrumb-item cursorDefault active">{{'SPROCESS' | translate }}</li>
        </ol>
    </div>
</div> -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="main padding0">
            <h3 class="page-title text-center marginBottom20">{{'BSYSTEM' | translate }}</h3>
            <div class="separator-2"></div>
            <div class="row col-md-12">
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Projects colorPrimary"></i>
                        </span>
                        <h4>立项</h4>
                        <h6>拿到资产包清单后，进行项目线上、线下备案。</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">01</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>项目初审</h4>
                        <h6>对抵押物进行价值判断，把控法律瑕疵。</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">02</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>预评估</h4>
                        <h6>根据评估结果决定是否继续跟进</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">03</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>阅卷调值</h4>
                        <h6>补充债权信息、阅卷、调整估值</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">04</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>运营技术委员会复审</h4>
                        <h6>确定是否尽调、是否有潜在投资人</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">05</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>尽调调值</h4>
                        <h6>对资产包内具有重大价值的抵押物进行详细尽调</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">06</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>上会</h4>
                        <h6>服务决策委员会决定是否投资</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">07</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>投资人回复上会结果</h4>
                        <h6>确定是否尽调、是否有潜在投资人</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">08</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 divCenter">
                    <div style="position: absolute;" class="ph-20 feature-box text-center" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon backgroundTransparent large circle sizeIconBProcess">
                            <i class="icon-Business-System colorPrimary"></i>
                        </span>
                        <h4>缴纳保证金竞价</h4>
                        <h6>如投资人回复确认，则准备竞价</h6>
                    </div>
                    <div>
                        <p class="backgroundNumber">09</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>