<div>
  <img class="imageBanner" src="images/hoopaDark.jpg" />
  <div class="textBanner">
    <p class="textWhite marginBottom0" ng-cloak>{{'IPROMOTION' | translate }}</p>
    <!-- <p class="textWhite fontSize16" ng-cloak>{{'HOME' | translate }} / {{'IPROMOTION' | translate }}</p> -->
  </div>
  <!-- <div class="lineBlueBanner"></div> -->
</div>
<div class="breadcrumb-container">
  <div class="container">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <i class="fa fa-home pr-2"></i>
              <a href="index.html" class="textDecorationNone fontSize16">{{'HOME' | translate}}</a>
          </li>
          <li class="breadcrumb-item cursorDefault fontSize16 active">{{'IPROMOTION' | translate }}</li>
      </ol>
  </div>
</div>
<section class="main-container paddingBoxHome">
  <div class="container">
    <div class="row">
      <h2 class="page-title marginLeft--15" ng-cloak>{{project.get('title')}}</h2>
      <div class="separator-2 marginLeft--15"></div>
      <div class="row col-lg-12 paddingLeft0 paddingRight0">
        <div class="col-lg-6 paddingLeft0 paddingRight0" style="z-index: 10">
          <img class="imageProjectDetail marginBottom10" ng-src="{{imageListActive}}">
          <slick class="slider" settings="slickConfig" ng-if="loadData" ng-cloak>
            <div ng-repeat="i in imageList">
              <img class="sliderImageProject" ng-click="changeImageActive(i.url)" ng-src="{{i.imageUrl}}">
            </div>
          </slick>
        </div>
        <div class="col-lg-6 pv-30 padding0XS">
          <table class="marginLeftAuto marginRightAuto">
            <tr class="fontSize40">
              <td class="textEnd" ng-cloak>{{'DAMOUNT' | translate}}:</td>
              <td class="colorPrimary">
                <p class="marginLeft10 marginBottom0" ng-cloak>¥{{project.get('debitAmount')}}万</p>
              </td>
            </tr>
            <tr class="fontSize18">
              <td class="textEnd" ng-cloak>{{'DUPRINCIPALI' | translate}}:</td>
              <td class="colorPrimary">
                <p class="marginLeft10 marginBottom0" ng-cloak>¥{{project.get('debitPricipalInterest')}}万</p>
              </td>
            </tr>
            <tr>
              <td class="textEnd" ng-cloak>{{'TARRIVAL' | translate}}:</td>
              <td class="colorRed marginLeft10P" ng-repeat="t in typeArrivalString">
                <p class="marginLeft10 marginBottom0" ng-cloak>{{t}}</p>
              </td>
            </tr>
            <tr ng-show="project.get('projectManager').get(name)">
              <td class="textEnd" ng-cloak>{{'PROJECTMANAGER' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0" ng-cloak>{{project.get('projectManager').get(name)}}</p>
              </td>
            </tr>
            <tr ng-show="project.get('projectManager').get(phone)">
              <td class="textEnd" ng-cloak>{{'CONTACTPHONE' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0">{{project.get('projectManager').get(phone)}}</p>
              </td>
            </tr>
            <tr>
              <td class="textEnd" ng-cloak>{{'PUADDRESS' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0" ng-cloak>{{project.get('plainAddress')}}</p>
              </td>
            </tr>
            <tr>
              <td class="textEnd" ng-cloak>{{'CUFROM' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0" ng-cloak>{{project.get('comefrom')}}</p>
              </td>
            </tr>
            <tr>
              <td class="textEnd">{{'PUCOMPANY' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0">{{project.get('companyName')}}</p>
              </td>
            </tr>
            <tr>
              <td class="textEnd" ng-cloak>{{'PUPROVINCE' | translate}}:</td>
              <td class="marginLeft10P">
                <p class="marginLeft10 marginBottom0" ng-cloak>{{project.get('province')}}</p>
              </td>
            </tr>
          </table>
          <div class="row projectButtonsAction">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
              <button href="" data-toggle="modal" data-target="#modalWeChat" class="pull-right margin-clear btn btn-default-transparent buttonProjectStyleHeart fontSize24">
                <i class="icon-wechat"></i>
              </button>
            </div>
            <div class="col-lg-2">
              <button href="" ng-hide="project.wished" ng-click="addToWhishList(project.id)" class="pull-right margin-clear btn btn-default-transparent buttonProjectStyleHeart fontSize24">
                <i class="fa fa-heart-o"></i>
              </button>
              <button href="" ng-hide="!project.wished" ng-click="removeToWhishList(project.id)" class="pull-right margin-clear btn btn-default-transparent buttonProjectStyleHeart fontSize24">
                <i class="fa fa-heart"></i>
              </button>
            </div>
            <div class="col-lg-6 aligSelftCenter">
              <a ng-hide="flagBid" ng-click="makeAnOffer()" class="margin-clear btn btn-default backgroundColorBlue pull-right height40 width100SendCode" ng-cloak>
                <i class="icon-Total-offers spanSignUp"></i> {{'MAKEANOFFER' | translate}}</a>
              <div ng-show="flagBid" class="input-group">
                <input type="text" ng-model="offerValue" class="form-control">
                <div class="input-group-append">
                  <a ng-click="makeABid()" class="input-group-text backgroundColorBlue cursorPointer" ng-cloak>
                    <i class="icon-Offertas spanSignUp"></i> {{'MAKEABID' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- main-container end -->
<section class="main-container paddingBoxHome">
  <div class="container padding0">
    <h4 class="mt-4" ng-cloak>{{'PDESC' | translate}}</h4>
    <p ng-cloak>{{project.get('description')}}</p>
    <h4 ng-cloak>{{'CHIGHL' | translate}}</h4>
    <p ng-cloak>{{project.get('creditHighlights')}}</p>
  </div>
</section>
<!-- section start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 paddingLeft0 paddingRight0">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs style-4" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="" role="tab" data-toggle="tab" ng-click="tabAssetsVisible = true; tabCommentsVisible = false; tabBorrowersVisible = false; tabSponsorsVisible = false" ng-cloak>
              <i class="fa fa-files-o pr-1"></i>({{assetsList.length}}) {{'ASSETS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" role="tab" data-toggle="tab" ng-click="tabAssetsVisible = false; tabCommentsVisible = false; tabBorrowersVisible = true; tabSponsorsVisible = false" ng-cloak>
              <i class="fa fa-files-o pr-1"></i>({{borrowerList.length}}) {{'BORROWERS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" role="tab" data-toggle="tab" ng-click="tabAssetsVisible = false; tabCommentsVisible = false; tabBorrowersVisible = false; tabSponsorsVisible = true" ng-cloak>
              <i class="fa fa-files-o pr-1"></i>({{sponsorsList.length}}) {{'SPONSORS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" role="tab" data-toggle="tab" ng-click="tabAssetsVisible = false; tabCommentsVisible = true; tabBorrowersVisible = false; tabSponsorsVisible = false" ng-cloak>
              <i class="fa fa-star pr-1"></i>({{reviews.length}}) {{'REVIEWS' | translate}}</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content padding-top-clear padding-bottom-clear">
          <div class="tab-pane" ng-class="{'active': tabAssetsVisible == true}">
            <div ng-repeat="asset in assetsList">
              <h4 class="space-top" ng-cloak>{{asset.get('title')}}</h4>
              <hr>
              <dl class="row">
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'TARRIVAL' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{asset.get('typeArrival')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'CAREA' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{asset.get('constructionArea')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'LAREA' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{asset.get('landArea')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'ADDRESS' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{asset.get('plainAddress')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'PROVINCE' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{asset.get('province')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'LONGLATASSETS' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>({{asset.get('location').longitude+","+asset.get('location').latitude}})</dd>
              </dl>
              <hr>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active': tabBorrowersVisible == true}">
            <div ng-repeat="borrower in borrowerList">
              <h4 class="space-top" ng-cloak>{{borrower.get('name')}}</h4>
              <hr>
              <dl class="row">
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'BORROPDEB' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{borrower.get('principalDebit')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'BORROINTER' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{borrower.get('interestCreditor')}}</dd>
              </dl>
              <hr>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active': tabSponsorsVisible == true}">
            <div ng-repeat="sponsor in sponsorsList">
              <h4 class="space-top" ng-cloak>{{sponsor.get('name')}}</h4>
              <hr>
              <dl class="row">
                <dt class="col-sm-3 text-sm-right" v>{{'AMOUNT' | translate}}</dt>
                <dd class="col-sm-9" ng-cloak>{{sponsor.get('amount')}}</dd>
                <dt class="col-sm-3 text-sm-right" ng-cloak>{{'TYPE' | translate}}</dt>
                <dd class="col-sm-9"ng-cloak>{{sponsor.get('type')}}</dd>
              </dl>
              <hr>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active': tabCommentsVisible == true}">
            <!-- comments start -->
            <div class="comments margin-clear space-top">
              <!-- comment start -->
              <div class="comment clearfix" ng-repeat="c in reviews">
                <div class="comment-avatar">
                  <img class="rounded-circle" ng-src="{{c.get('avatarUrl')}}" alt="avatar">
                </div>
                <header>
                  <!-- <h3>Amazing!</h3> -->
                  <div class="comment-meta" ng-cloak>
                    <i class="fa fa-star {{s.class}}" ng-repeat="s in c.rating"></i> | {{c.createdAt}}</div>
                </header>
                <div class="comment-content">
                  <div class="comment-body clearfix">
                    <p ng-cloak>{{c.get('content')}}</p>
                    <!-- <a href="blog-post.html" class="btn-sm-link link-dark pull-right">
                      <i class="fa fa-reply"></i> Reply</a> -->
                  </div>
                </div>
              </div>
              <!-- comment end -->
              <!-- comments end -->

              <p ng-show="!loginUser" ng-cloak>{{'MUSTBELOGGED' | translate}}</p>

              <!-- comments form start -->
              <div class="comments-form" ng-show="loginUser">
                <h3 class="title" ng-cloak>{{'ADDREVIEW' | translate}}</h3>
                <form>
                  <!-- <div class="form-group has-feedback">
                  <label for="name4">{{'NAME' | translate}}</label>
                  <input type="text" class="form-control" id="name4" placeholder="" required>
                  <i class="fa fa-user form-control-feedback"></i>
                </div> -->
                  <!-- <div class="form-group has-feedback">
                  <label for="subject4"></label>
                  <input ng-model="titleReview" type="text" class="form-control" id="subject4" placeholder="" required>
                  <i class="fa fa-pencil form-control-feedback top22"></i>
                </div> -->
                  <div class="form-group">
                    <label ng-cloak>{{'RATING' | translate}}</label>
                    <select ng-model="ratingReview" class="form-control" id="review">
                      <option value="5">5</option>
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                      <option value="1">1</option>
                    </select>
                  </div>
                  <div class="form-group has-feedback">
                    <label for="message4" ng-cloak>{{'MESSAGE' | translate}}</label>
                    <textarea ng-model="contentReview" class="form-control" rows="8" id="message4" placeholder="" required></textarea>
                    <i class="fa fa-envelope-o form-control-feedback"></i>
                  </div>
                  <a ng-click="publishReview()" class="btn btn-default backgroundColorBlue" ng-cloak>{{'PPUBLISH' | translate}}</a>
                </form>
              </div>
              <!-- comments form end -->
            </div>
          </div>
        </div>
      </div>

      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <div class="block clearfix">
            <h4 class="title" ng-cloak>{{"RECOMMENDEDPROJECT" | translate}}</h4>
            <div class="separator-2"></div>
            <div class="media margin-clear" ng-repeat="p in projects" ng-hide="p.id == project.id">
              <div class="d-flex pr-2">
                <div class="overlay-container">
                  <img class="media-object recommendedProjectClass" ng-src="{{p.mainImage}}" alt="blog-thumb">
                  <a href="" ng-click="goToProject(p.id)" class="overlay-link small">
                    <i class="fa fa-link"></i>
                  </a>
                </div>
              </div>
              <div class="media-body">
                <h6 class="media-heading">
                  <a href="" ng-click="goToProject(p.id)" ng-cloak>{{p.title}}</a>
                </h6>
                <!-- <p class="margin-clear">
                  <i class="fa fa-star text-default"></i>
                  <i class="fa fa-star text-default"></i>
                  <i class="fa fa-star text-default"></i>
                  <i class="fa fa-star text-default"></i>
                  <i class="fa fa-star text-default"></i>
                </p> -->
                <p class="price colorPrimary" ng-cloak>¥{{p.amount}}万</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </aside>
      <!-- sidebar end -->
    </div>
</section>
<!-- section end -->