<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <!-- main-container start -->
  <!-- ================ -->
  <section class="main-container">

    <div class="container">
      <div class="row">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-12">

          <!-- page-title start -->
          <!-- ================ -->
          <h1 class="page-title">{{'WISHLIST' | translate}}</h1>
          <div class="separator-2"></div>
          <!-- page-title end -->

          <table class="table cart table-hover table-colored">
            <thead>
              <tr>
                <th class="cursorDefault">{{'PACKAGE' | translate}}</th>
                <th class="textcenter cursorDefault">{{'DAMOUNT' | translate}}</th>
                <th class="cursorDefault">{{'PROVINCE' | translate}}</th>
                <th class="cursorDefault">{{'MAKEANOFFER' | translate}}</th>
                <th class="textcenter cursorDefault">{{'REMOVE' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="remove-data" ng-repeat="cartObject in shopCartArray">
                <td class="product">
                  <a id="textShopCart" href="">{{cartObject.get('project').get('title')}}</a>
                  <p class="fontSize12 cursorDefault">{{cartObject.get('project').get('description')}}</p>
                </td>
                <td class="price colorPrimary cursorDefault textcenter">
                    ¥{{cartObject.get('project').get('debitAmount')}}万</td>
                <td class="price">
                  <small class="cursorDefault">{{cartObject.get('project').get('province')}}</small>
                </td>
                <td class="remove">
                  <a href="" class="btn btn-remove icon-offers backgroundColorBlue marginLeft20P"> {{'OFFER' | translate}}</a>
                </td>
                <td class="remove">
                  <a href="" class="btn btn-remove fa fa-remove btn-default backgroundColorBlue marginLeft20P"> {{'REMOVE' | translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="total-quantity" colspan="6">{{shopCartArray.length}} {{'TOTAL' | translate}} {{'ITEMS' | translate}}</td>
                <!-- <td class="total-amount">$1997.00</td> -->
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <a href="" class="btn btn-group fa fa-trash-o btn-default backgroundColorBlue"> {{'CLEARALL' | translate}}</a>
          </div>

        </div>
        <!-- main end -->
      </div>
    </div>
  </section>
  <!-- main-container end -->
</section>
<!-- section end -->