<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

          <div class="container">
            <div class="row">
  
              <!-- main start -->
              <!-- ================ -->
              <div class="main col-12">
  
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Shopping Cart</h1>
                <div class="separator-2"></div>
                <!-- page-title end -->
  
                <table class="table cart table-hover table-colored">
                  <thead>
                    <tr>
                      <th>Package </th>
                      <th>Debt Amount </th>
                      <th>Province</th>
                      <th>Make an offer</th>
                      <th>Remove </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="remove-data" ng-repeat="cartObject in shopCartArray">
                      <td class="product"><a href="">{{cartObject.get('project').get('title')}}</a></td>
                      <td class="price"><i class="fa fa-rmb"></i>{{cartObject.get('project').get('debitAmount')}}万</td>
                      <td class="price"><small>{{cartObject.get('project').get('province')}}</small></td>
                      <td class="remove"><a href="" class="btn btn-remove btn-sm btn-default">Offer</a></td>
                      <td class="remove"><a href="" class="btn btn-remove btn-sm btn-default">Remove</a></td>
                    </tr>
                    <tr>
                      <td class="total-quantity" colspan="4">Total {{shopCartArray.length}} Items</td>
                      <!-- <td class="total-amount">$1997.00</td> -->
                    </tr>
                  </tbody>
                </table>
                <div class="text-right">
                  <a href="" class="btn btn-group btn-default">Clear all</a>
                </div>
  
              </div>
              <!-- main end -->
  
            </div>
          </div>
        </section>
        <!-- main-container end -->
  

</section>
<!-- section end -->