<section class="main-container padding0">
    <div class="main padding0">
        <img id="service1" class="imageServices" src="images/services/service1.jpg">
        <img id="service2" class="imageServices" src="images/services/service2.jpg">
        <img id="service3" class="imageServices" src="images/services/service3.jpg">
        <img id="service4" class="imageServices" src="images/services/service4.jpg">
        <div class="floatBox" dir="rtl">
            <ul class="listFloat">
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service1')">资产增值服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service2')">价值发现服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service3')">资产处置服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service4')">尽调评估服务</a>
                </li>
            </ul>
        </div>
    </div>
</section>