<div class="breadcrumb-container marginTop80">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a href="index.html">{{'HOME' | translate}}</a>
            </li>
            <li class="breadcrumb-item cursorDefault active">{{'BSYSTEM' | translate }}</li>
        </ol>
    </div>
</div>
<section class="main-container padding0">
    <div class="main padding0">
        <!-- <h3 class="page-title text-center marginBottom20">{{'BSYSTEM' | translate }}</h3>
            <div class="separator-2"></div> -->
        <div id="service1" class="serviceBox">
            <div class="textServiceBox">
                <h1 class="textWhite">资产增值服务</h1>
                <div class="separator separatorCoreTeam"></div>
                <h3 class="textWhite">实地调查相关人经营财务状况 查封相关人有效资产，提升资产价值</h3>
            </div>
            <img class="imageServices" src="images/services/service1.jpg">
        </div>
        <div id="service2" class="serviceBox">
                <div class="textServiceBox">
                        <h1 class="textWhite">价值发现服务</h1>
                        <div class="separator separatorCoreTeam"></div>
                        <h3 class="textWhite">发现不良资产包投资机会 配对不同资产偏好投资人</h3>
                    </div>
            <img class="imageServices" src="images/services/service2.jpg">
        </div>
        <div id="service3" class="serviceBox">
                <div class="textServiceBox">
                        <h1 class="textWhite">资产处置服务</h1>
                        <div class="separator separatorCoreTeam"></div>
                        <h3 class="textWhite">针对不同债权制定处置策略 将资产配置给最佳客户 实现资产价值最大化</h3>
                    </div>
            <img class="imageServices" src="images/services/service3.jpg">
        </div>
        <div id="service4" class="serviceBox">
                <div class="textServiceBox">
                        <h1 class="textWhite">尽调评估服务</h1>
                        <div class="separator separatorCoreTeam"></div>
                        <h3 class="textWhite">建立不良数据挖掘和分析系统，精准化评估定价</h3>
                        <h3 class="textWhite">详细客观汇整项目资产状况、法律状况和潜在处置风险，对债权操作性提供意见</h3>
                    </div>
            <img class="imageServices" src="images/services/service4.jpg">
        </div>
        <div class="floatBox" dir="rtl">
            <ul class="listFloat">
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service1')">资产增值服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service2')">价值发现服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service3')">资产处置服务</a>
                </li>
                <li class="marginBottom20">
                    <a class="servicesWhite" ng-click="focusOn('service4')">尽调评估服务</a>
                </li>
            </ul>
        </div>
    </div>
</section>