<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg padding-bottom-clear" style="background-image:url('images/shop-banner.jpg');background-position: 50% 32%;">
  <!-- breadcrumb start -->
  <!-- ================ -->
  <!-- <div class="breadcrumb-container">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Shop 4 Columns</li>
            </ol>
          </div>
        </div> -->
  <!-- breadcrumb end -->
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center pv-20">
        <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Wellcome to
          <strong>Shop</strong>
        </h2>
        <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis
          voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo
          deserunt tempora qui.</p>
      </div>
    </div>
  </div>
  <!-- section start -->
  <!-- ================ -->
  <div class="dark-translucent-bg section">
    <div class="container-fluid">
      <!-- filters start -->
      <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
        <form class="form-inline">
          <div class="form-group">
            <label>Sort by</label>
            <select class="form-control">
              <option selected="selected">Date</option>
              <option>Price</option>
              <option>Model</option>
            </select>
          </div>
          <div class="form-group ml-1">
            <label>Order</label>
            <select class="form-control">
              <option selected="selected">Acs</option>
              <option>Desc</option>
            </select>
          </div>
          <div class="form-group ml-1">
            <label>Price $ (min/max)</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group ml-1">
            <label class="invisible">Price $ (max)</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group ml-1">
            <label>Category</label>
            <select class="form-control">
              <option selected="selected">Smartphones</option>
              <option>Tablets</option>
              <option>Smart Watches</option>
              <option>Desktops</option>
              <option>Software</option>
              <option>Accessories</option>
            </select>
          </div>
          <div class="form-group ml-1">
            <a href="#" class="btn btn-default">Submit</a>
          </div>
        </form>
      </div>
      <!-- filters end -->
    </div>
  </div>
  <!-- section end -->
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <!-- pills start -->
        <!-- ================ -->
        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals">
              <i class="fa fa-star"></i> Latest Arrivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pill-2" role="tab" data-toggle="tab" title="Featured">
              <i class="fa fa-heart"></i> Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers">
              <i class=" fa fa-arrow-up"></i> Top Sellers</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content clear-style">
          <div class="tab-pane active" id="pill-1">
            <div class="row grid-space-10">
              <div class="col-lg-3 col-md-6" ng-repeat="project in products">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="overlay-container">
                    <img ng-src="{{project.imageUrl}}" alt="">
                    <!-- <a class="overlay-link popup-img-single" href="images/product-1.jpg">
                      <i class="fa fa-search-plus"></i>
                    </a> -->
                    <span class="badge">30% OFF</span>
                    <div class="overlay-to-top links">
                      <span class="small">
                        <a href="#" class="btn-sm-link">
                          <i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                        <a href="#" class="btn-sm-link">
                          <i class="fa fa-link pr-1"></i>View Details</a>
                      </span>
                    </div>
                  </div>
                  <div class="body">
                    <h3>
                      <a >{{project.title}}</a>
                    </h3>
                    <p class="small">{{project.description}}</p>
                    <div class="elements-list clearfix">
                      <span class="price">
                        <del>$100.00</del> $70.00</span>
                      <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pills end -->

        <!-- pagination start -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <i aria-hidden="true" class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- main-container end -->
