<div>
    <img class="imageBanner" src="images/hoopaDark.jpg" />
    <div class="textBanner">
        <p class="textWhite marginBottom0">{{'DEVHISTORY' | translate }}</p>
        <!-- <p class="textWhite fontSize16">{{'HOME' | translate }} / {{'DEVHISTORY' | translate }}</p> -->
    </div>
    <!-- <div class="lineBlueBanner"></div> -->
</div>
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home pr-2"></i>
                <a href="index.html" class="textDecorationNone">{{'HOME' | translate}}</a>
            </li>
            <li class="breadcrumb-item cursorDefault active">{{'DEVHISTORY' | translate }}</li>
        </ol>
    </div>
</div>
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row paddingBottom60">
            <div class="main col-lg-12 padding0">
                <!-- <h3 class="page-title text-center marginBottom20">{{'DEVHISTORY' | translate }}</h3>
                <div class="separator-2 marginBottom0"></div> -->
                <div class="timeline clearfix textDecorationNone">
                    <div class="timeline-date-label clearfix">2018</div>
                    <div class="timeline-item" id="elementTimeline1">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">

                            </header>
                            <div class="blogpost-content textEnd">
                                <p>成功收购安徽2号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right" id="elementTimeline2">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">

                            </header>
                            <div class="blogpost-content">
                                <p>收购管理江苏5号资产包</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2017</div>
                    <div class="timeline-item" id="elementTimeline3">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>收购管理湖南1号资产包</p>
                                <p>管理安徽1号资产包</p>
                                <p>成功收购管理浙江5号资产包</p>
                                <p>收购管理江苏3号资产包</p>
                                <p>收购管理江苏4号资产包</p>
                            </div>
                        </article>
                    </div>
                    <!-- <div class="timeline-item pull-right" id="elementTimeline4">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>成功收购管理浙江5号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item" id="elementTimeline5">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理江苏3号资产包</p>
                                <p>收购管理江苏4号资产包</p>
                            </div>
                        </article>
                    </div> -->
                    <div class="timeline-item pull-right marginTop60" id="elementTimeline6">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理河南2号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item" id="elementTimeline7">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>收购管理浙江4号资产包</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2016</div>
                    <div class="timeline-item" id="elementTimeline8">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>收购管理江苏2号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right" id="elementTimeline9">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>管理江苏1号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item marginTop30" id="elementTimeline10">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>管理浙江3号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right marginTop30" id="elementTimeline11">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>管理浙江2号资产包</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2014</div>
                    <div class="timeline-item" id="elementTimeline12">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>管理浙江1号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right" id="elementTimeline13">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>管理河南某房地产项目</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2013</div>
                    <div class="timeline-item" id="elementTimeline14">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>投资管理山东1号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right" id="elementTimeline15">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>管理河南委贷项目，于2014年成功退出该项目</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2012</div>
                    <div class="timeline-item" id="elementTimeline16">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content textEnd">
                                <p>受托管理四川1号资产包，并于2013年8月完成受托目标</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2009</div>
                    <div class="timeline-item pull-right marginTop30" id="elementTimeline17">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header class="paddingTop10 paddingBottom10">
                            </header>
                            <div class="blogpost-content">
                                <p>受托管理河南1号资产包</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>