<!-- main-container start -->
<!-- ================ -->
<section class="main-container paddingBoxHome">
    <div class="container">
        <div class="row">
            <div class="main col-lg-12 padding0">
                <h3 class="page-title">{{'DEVHISTORY' | translate }}</h3>
                <div class="separator-2 marginBottom0 backgroundColorPrimary"></div>
                <div class="timeline clearfix">
                    <div class="timeline-date-label clearfix">2009</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2009年2月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>受托管理河南1号资产包</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2012</div>
                    <div class="timeline-item pull-right marginTop30">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2012年8月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>受托管理四川1号资产包，并于2013年8月完成受托目标</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2013</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2013年7月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理河南委贷项目，于2014年成功退出该项目</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2013年8月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>投资管理山东1号资产包</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2014</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2014年3月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理河南某房地产项目</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2014年4月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理浙江1号资产包</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2016</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2016年4月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理浙江2号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2016年9月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理浙江3号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2016年10月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>管理江苏1号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2016年11月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理江苏2号资产包</p>
                            </div>
                        </article>
                    </div>


                    <div class="timeline-date-label clearfix">2017</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2017年6月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理浙江4号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2017年9月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理河南2号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2017年12月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理江苏3号资产包</p>
                                <p>收购管理江苏4号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2017年12月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>成功收购管理浙江5号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2017年12月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理湖南1号资产包</p>
                                <p>管理安徽1号资产包</p>
                            </div>
                        </article>
                    </div>

                    <div class="timeline-date-label clearfix">2018</div>
                    <div class="timeline-item">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2018年初</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>收购管理江苏5号资产包</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline-item pull-right">
                        <article class="blogpost shadow-2 light-gray-bg bordered">
                            <header>
                                <h2>
                                    <a>2018年3月</a>
                                </h2>
                                <div class="separator-2 marginBottom0 backgroundColorPrimary lineHeightCustom"></div>
                            </header>
                            <div class="blogpost-content">
                                <p>成功收购安徽2号资产包</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>